In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
def init_browser():
    executable_path = {'executable_path': 'chromedriver.exe'}
    return Browser('chrome', **executable_path, headless=False)

In [3]:
browser = init_browser()

#list url to visit
season = '2018-19'
season_type = 'Regular%20Season'
date_to = '02%2F18%2F2019'

nba_url = 'https://stats.nba.com/teams/boxscores/?Season={season}&SeasonType={season_type}&DateTo={date_to}'.format(season=season, season_type=season_type, date_to=date_to)

#visit url
browser.visit(nba_url)
print(nba_url)

https://stats.nba.com/teams/boxscores/?Season=2018-19&SeasonType=Regular%20Season&DateTo=02%2F18%2F2019

In [4]:
full = browser.find_by_tag('nba-stat-table')
full_t = full.find_by_tag('select')[0]
full_table = full_t.find_by_tag('option')[0]
full_table.click()

In [5]:
nba_html = browser.html 
soup = BeautifulSoup(nba_html, 'html.parser')

In [6]:
table = soup.find_all('nba-stat-table')[0]

In [7]:
nba_stats = pd.read_html(str(table), header=0)[0]
nba_stats

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,PF,+/-
0,OKC,OKC @ NOP,02/14/2019,NaN,L,240,122,50,106,47.2,...,92.3,17,31,48,27,8,6,13,21,-9
1,NOP,NOP vs. OKC,02/14/2019,NaN,W,240,131,50,92,54.3,...,79.2,13,38,51,35,7,7,15,15,9
2,ATL,ATL vs. NYK,02/14/2019,NaN,L,240,91,33,91,36.3,...,78.9,10,31,41,19,8,4,12,24,-15
3,NYK,NYK @ ATL,02/14/2019,NaN,W,240,106,38,84,45.2,...,69.2,11,41,52,21,9,9,14,22,15
4,ORL,ORL vs. CHA,02/14/2019,NaN,W,240,127,48,92,52.2,...,77.8,8,42,50,32,6,6,7,15,38
5,CHA,CHA @ ORL,02/14/2019,NaN,L,240,89,33,94,35.1,...,73.1,13,32,45,18,6,4,8,19,-38
6,IND,IND vs. MIL,02/13/2019,NaN,L,240,97,37,88,42.0,...,86.7,4,39,43,22,6,4,11,23,-9
7,MIL,MIL @ IND,02/13/2019,NaN,W,240,106,38,86,44.2,...,72.4,10,42,52,22,7,3,10,14,9
8,WAS,WAS @ TOR,02/13/2019,NaN,L,240,120,37,84,44.0,...,82.1,4,39,43,27,6,3,18,28,-9
9,TOR,TOR vs. WAS,02/13/2019,NaN,W,240,129,44,92,47.8,...,83.3,9,43,52,32,8,8,15,27,9
10,GSW,GSW @ POR,02/13/2019,NaN,L,240,107,39,97,40.2,...,88.9,18,31,49,26,1,9,9,26,-22
11,POR,POR vs. GSW,02/13/2019,NaN,W,240,129,43,93,46.2,...,79.4,14,34,48,24,3,4,4,16,22
12,PHX,PHX @ LAC,02/13/2019,NaN,L,240,107,40,86,46.5,...,76.0,8,28,36,24,6,4,17,23,-27
13,LAC,LAC vs. PHX,02/13/2019,NaN,W,240,134,50,84,59.5,...,76.7,7,36,43,33,12,9,11,25,27
14,MIA,MIA @ DAL,02/13/2019,NaN,W,240,112,44,81,54.3,...,75.0,7,40,47,24,8,3,19,20,11
15,DAL,DAL vs. MIA,02/13/2019,NaN,L,240,101,34,88,38.6,...,81.8,10,28,38,24,10,0,12,17,-11
16,HOU,HOU @ MIN,02/13/2019,NaN,L,240,111,40,98,40.8,...,92.3,13,24,37,23,5,2,11,18,-10
17,MIN,MIN vs. HOU,02/13/2019,NaN,W,240,121,49,90,54.4,...,76.5,13,34,47,31,4,5,10,13,10
18,MEM,MEM @ CHI,02/13/2019,NaN,L,240,110,43,89,48.3,...,76.5,6,26,32,33,9,5,9,19,-12
19,CHI,CHI vs. MEM,02/13/2019,NaN,W,240,122,45,80,56.3,...,82.8,9,37,46,28,2,3,14,19,12
20,CLE,CLE vs. BKN,02/13/2019,NaN,L,315,139,54,120,45.0,...,72.2,18,39,57,35,7,4,15,37,-9
21,BKN,BKN @ CLE,02/13/2019,NaN,W,315,148,52,113,46.0,...,76.5,16,44,60,31,4,13,18,23,9
22,SAC,SAC @ DEN,02/13/2019,NaN,L,240,118,42,93,45.2,...,82.1,10,34,44,30,12,1,12,23,-2
23,DEN,DEN vs. SAC,02/13/2019,NaN,W,240,120,45,99,45.5,...,88.0,14,39,53,26,7,1,14,19,2
24,PHI,PHI @ NYK,02/13/2019,NaN,W,240,126,42,78,53.8,...,79.1,6,41,47,33,8,7,15,24,15
25,NYK,NYK vs. PHI,02/13/2019,NaN,L,240,111,40,100,40.0,...,81.5,14,29,43,27,8,4,12,27,-15
26,DET,DET @ BOS,02/13/2019,NaN,L,240,110,36,84,42.9,...,73.5,10,31,41,19,7,1,11,18,-8
27,BOS,BOS vs. DET,02/13/2019,NaN,W,240,118,45,88,51.1,...,80.0,10,37,47,32,8,2,16,22,8
28,PHI,PHI vs. BOS,02/12/2019,NaN,L,240,109,39,80,48.8,...,71.0,10,37,47,21,4,3,14,20,-3
29,BOS,BOS @ PHI,02/12/2019,NaN,W,240,112,41,88,46.6,...,81.0,8,33,41,24,9,3,5,23,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1702,LAL,LAL @ POR,10/18/2018,NaN,L,240,119,45,93,48.4,...,75.9,8,38,46,23,10,6,15,26,-9
1703,POR,POR vs. LAL,10/18/2018,NaN,W,240,128,44,100,44.0,...,93.1,14,40,54,21,9,10,17,26,9
1704,PHI,PHI vs. CHI,10/18/2018,NaN,W,240,127,44,93,47.3,...,90.0,11,44,55,30,10,8,13,17,19
1705,CHI,CHI @ PHI,10/18/2018,NaN,L,240,108,44,101,43.6,...,75.0,5,34,39,28,4,6,12,23,-19
1706,CLE,CLE @ TOR,10/17/2018,NaN,L,240,104,34,85,40.0,...,74.4,14,35,49,17,4,0,16,25,-12
1707,TOR,TOR vs. CLE,10/17/2018,NaN,W,240,116,45,92,48.9,...,60.0,8,35,43,21,6,7,10,29,12
1708,MIL,MIL @ CHA,10/17/2018,NaN,W,240,113,42,85,49.4,...,75.0,11,46,57,26,5,4,21,25,1
1709,CHA,CHA vs. MIL,10/17/2018,NaN,L,240,112,41,92,44.6,...,63.6,9,32,41,21,8,9,11,19,-1
1710,UTA,UTA @ SAC,10/17/2018,NaN,W,240,123,41,79,51.9,...,73.7,5,39,44,21,8,4,17,19,6
1711,SAC,SAC vs. UTA,10/17/2018,NaN,L,240,117,49,95,51.6,...,66.7,5,32,37,17,8,3,9,27,-6
1712,IND,IND vs. MEM,10/17/2018,NaN,W,240,111,47,83,56.6,...,53.8,13,44,57,29,2,7,20,24,28
1713,MEM,MEM @ IND,10/17/2018,NaN,L,240,83,25,84,29.8,...,82.1,7,21,28,16,11,3,10,18,-28
1714,DEN,DEN @ LAC,10/17/2018,NaN,W,240,107,33,87,37.9,...,78.6,14,42,56,20,6,9,11,22,9
1715,LAC,LAC vs. DEN,10/17/2018,NaN,L,240,98,35,88,39.8,...,83.3,9,38,47,21,3,9,14,32,-9
1716,MIA,MIA @ ORL,10/17/2018,NaN,L,240,101,38,97,39.2,...,72.7,14,38,52,16,4,5,17,28,-3
1717,ORL,ORL vs. MIA,10/17/2018,NaN,W,240,104,39,94,41.5,...,61.3,14,37,51,20,7,7,12,25,3
1718,DET,DET vs. BKN,10/17/2018,NaN,W,240,103,39,92,42.4,...,86.4,14,32,46,21,5,5,17,20,3
1719,BKN,BKN @ DET,10/17/2018,NaN,L,240,100,40,82,48.8,...,68.2,5,34,39,28,9,5,19,23,-3
1720,NOP,NOP @ HOU,10/17/2018,NaN,W,240,131,52,98,53.1,...,77.3,14,40,54,36,8,3,12,25,19
1721,HOU,HOU vs. NOP,10/17/2018,NaN,L,240,112,39,92,42.4,...,75.0,8,29,37,21,8,7,12,22,-19
1722,PHX,PHX vs. DAL,10/17/2018,NaN,W,240,121,44,81,54.3,...,87.5,6,38,44,35,5,2,12,22,21
1723,DAL,DAL @ PHX,10/17/2018,NaN,L,240,100,38,88,43.2,...,70.0,10,28,38,28,7,5,9,16,-21
1724,ATL,ATL @ NYK,10/17/2018,NaN,L,240,107,41,90,45.6,...,83.3,7,38,45,19,7,3,24,30,-19
1725,NYK,NYK vs. ATL,10/17/2018,NaN,W,240,126,45,99,45.5,...,77.4,10,36,46,21,12,6,16,23,19
1726,MIN,MIN @ SAS,10/17/2018,NaN,L,240,108,39,91,42.9,...,88.9,14,32,46,20,9,2,11,27,-4
1727,SAS,SAS vs. MIN,10/17/2018,NaN,W,240,112,40,93,43.0,...,72.4,19,33,52,22,3,4,12,22,4
1728,BOS,BOS vs. PHI,10/16/2018,NaN,W,240,105,42,97,43.3,...,71.4,12,43,55,21,7,5,15,20,18
1729,PHI,PHI @ BOS,10/16/2018,NaN,L,240,87,34,87,39.1,...,60.9,6,41,47,18,8,5,16,20,-18
1730,GSW,GSW vs. OKC,10/16/2018,NaN,W,240,108,42,95,44.2,...,94.4,17,41,58,28,7,7,21,29,8
1731,OKC,OKC @ GSW,10/16/2018,NaN,L,240,100,33,91,36.3,...,64.9,16,29,45,21,12,6,15,21,-8

In [8]:
nba_stats.to_csv('Raw_Compiled_Stats_1819.csv')

In [9]:
nba_stats.columns

Index(['Team', 'Match Up', 'Game Date', 'Season', 'W/L', 'MIN', 'PTS', 'FGM',
       'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', '+/-'],
      dtype='object')

In [14]:
nba_stats.rename(columns = {list(nba_stats)[2]: 'Game Date'}, inplace = True)

In [15]:
nba_stats['Game Date'] = pd.to_datetime(nba_stats['Game Date'])
nba_stats.head()

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,PF,+/-
0,OKC,OKC @ NOP,2019-02-14,NaN,L,240,122,50,106,47.2,...,92.3,17,31,48,27,8,6,13,21,-9
1,NOP,NOP vs. OKC,2019-02-14,NaN,W,240,131,50,92,54.3,...,79.2,13,38,51,35,7,7,15,15,9
2,ATL,ATL vs. NYK,2019-02-14,NaN,L,240,91,33,91,36.3,...,78.9,10,31,41,19,8,4,12,24,-15
3,NYK,NYK @ ATL,2019-02-14,NaN,W,240,106,38,84,45.2,...,69.2,11,41,52,21,9,9,14,22,15
4,ORL,ORL vs. CHA,2019-02-14,NaN,W,240,127,48,92,52.2,...,77.8,8,42,50,32,6,6,7,15,38

In [16]:
nba = nba_stats[['Team', 'Game Date', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
nba.head()

  Team  Game Date  PTS   FG%   3P%   FT%  OREB  DREB  REB  AST  BLK  TOV  PF
0  OKC 2019-02-14  122  47.2  22.7  92.3    17    31   48   27    6   13  21
1  NOP 2019-02-14  131  54.3  46.2  79.2    13    38   51   35    7   15  15
2  ATL 2019-02-14   91  36.3  26.3  78.9    10    31   41   19    4   12  24
3  NYK 2019-02-14  106  45.2  38.7  69.2    11    41   52   21    9   14  22
4  ORL 2019-02-14  127  52.2  43.6  77.8     8    42   50   32    6    7  15

In [18]:
avg_1819 = nba.groupby(['Team']).mean()
avg_1819.head()

,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
Team,,,,,,,,,,,
ATL,110.620690,45.363793,34.532759,74.950000,11.396552,33.568966,44.965517,25.500000,5.103448,18.293103,23.568966
BKN,112.305085,45.193220,35.844068,75.064407,11.169492,34.881356,46.050847,24.016949,4.220339,15.254237,21.745763
BOS,113.000000,46.606897,37.039655,81.855172,10.206897,34.879310,45.086207,26.413793,5.672414,13.172414,20.603448
CHA,110.771930,45.017544,35.156140,77.752632,10.070175,34.350877,44.421053,23.210526,5.157895,12.491228,19.263158
CHI,103.172414,45.165517,35.520690,79.236207,8.172414,33.948276,42.120690,22.000000,4.448276,14.706897,20.672414

In [19]:
avg_1819.reset_index(inplace=True)
avg_1819.head()

,Team,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,110.620690,45.363793,34.532759,74.950000,11.396552,33.568966,44.965517,25.500000,5.103448,18.293103,23.568966
1,BKN,112.305085,45.193220,35.844068,75.064407,11.169492,34.881356,46.050847,24.016949,4.220339,15.254237,21.745763
2,BOS,113.000000,46.606897,37.039655,81.855172,10.206897,34.879310,45.086207,26.413793,5.672414,13.172414,20.603448
3,CHA,110.771930,45.017544,35.156140,77.752632,10.070175,34.350877,44.421053,23.210526,5.157895,12.491228,19.263158
4,CHI,103.172414,45.165517,35.520690,79.236207,8.172414,33.948276,42.120690,22.000000,4.448276,14.706897,20.672414

In [20]:
avg_1819.columns

Index(['Team', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK',
       'TOV', 'PF'],
      dtype='object')

In [21]:
avg_1819.rename(columns = {list(avg_1819)[0]: 'TEAM'}, inplace = True)
avg_1819.head()

,TEAM,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,110.620690,45.363793,34.532759,74.950000,11.396552,33.568966,44.965517,25.500000,5.103448,18.293103,23.568966
1,BKN,112.305085,45.193220,35.844068,75.064407,11.169492,34.881356,46.050847,24.016949,4.220339,15.254237,21.745763
2,BOS,113.000000,46.606897,37.039655,81.855172,10.206897,34.879310,45.086207,26.413793,5.672414,13.172414,20.603448
3,CHA,110.771930,45.017544,35.156140,77.752632,10.070175,34.350877,44.421053,23.210526,5.157895,12.491228,19.263158
4,CHI,103.172414,45.165517,35.520690,79.236207,8.172414,33.948276,42.120690,22.000000,4.448276,14.706897,20.672414

In [22]:
stats_1819 = avg_1819.drop(labels='TEAM', axis=1)
stats_1819.head()

,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,110.620690,45.363793,34.532759,74.950000,11.396552,33.568966,44.965517,25.500000,5.103448,18.293103,23.568966
1,112.305085,45.193220,35.844068,75.064407,11.169492,34.881356,46.050847,24.016949,4.220339,15.254237,21.745763
2,113.000000,46.606897,37.039655,81.855172,10.206897,34.879310,45.086207,26.413793,5.672414,13.172414,20.603448
3,110.771930,45.017544,35.156140,77.752632,10.070175,34.350877,44.421053,23.210526,5.157895,12.491228,19.263158
4,103.172414,45.165517,35.520690,79.236207,8.172414,33.948276,42.120690,22.000000,4.448276,14.706897,20.672414

In [23]:
diff = []

for x in range(1, 30):
    diff_1819 = stats_1819 - stats_1819.shift(periods =- x)
    diff_1819.drop(diff_1819.tail(x).index, inplace=True)
    home_team = avg_1819.iloc[:,0]
    home_team.drop(home_team.tail(x).index, inplace=True)
    away_team = avg_1819.iloc[:,0].shift(periods =- x)
    away_team.drop(away_team.tail(x).index, inplace=True)
    diff_1819['AWAY'] = away_team
    diff_1819['HOME'] = home_team
    diff.append(diff_1819)

diff_reg_1819 = pd.concat(diff, axis=0, sort=True)
diff_reg_1819.head()

,3P%,AST,AWAY,BLK,DREB,FG%,FT%,HOME,OREB,PF,PTS,REB,TOV
0,-1.311309,1.483051,BKN,0.883109,-1.312390,0.170573,-0.114407,ATL,0.227060,1.823203,-1.684395,-1.085330,3.038866
1,-1.195587,-2.396844,BOS,-1.452075,0.002046,-1.413676,-6.790766,BKN,0.962595,1.142314,-0.694915,0.964641,2.081823
2,1.883515,3.203267,CHA,0.514519,0.528433,1.589353,4.102541,BOS,0.136721,1.340290,2.228070,0.665154,0.681186
3,-0.364549,1.210526,CHI,0.709619,0.402601,-0.147973,-1.483575,CHA,1.897762,-1.409256,7.599516,2.300363,-2.215668
4,0.391379,1.344828,CLE,1.896552,2.086207,1.031034,1.062069,CHI,-2.724138,0.275862,0.206897,-0.637931,1.120690

In [25]:
matchup_1819 = diff_reg_1819[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
matchup_1819.head()

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,BKN,-1.684395,0.170573,-1.311309,-0.114407,0.227060,-1.312390,-1.085330,1.483051,0.883109,3.038866,1.823203
1,BKN,BOS,-0.694915,-1.413676,-1.195587,-6.790766,0.962595,0.002046,0.964641,-2.396844,-1.452075,2.081823,1.142314
2,BOS,CHA,2.228070,1.589353,1.883515,4.102541,0.136721,0.528433,0.665154,3.203267,0.514519,0.681186,1.340290
3,CHA,CHI,7.599516,-0.147973,-0.364549,-1.483575,1.897762,0.402601,2.300363,1.210526,0.709619,-2.215668,-1.409256
4,CHI,CLE,0.206897,1.031034,0.391379,1.062069,-2.724138,2.086207,-0.637931,1.344828,1.896552,1.120690,0.275862

In [26]:
neg_matchup_1819 = matchup_1819.iloc[:,2:13].multiply(-1)
neg_matchup_1819.head()

,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,1.684395,-0.170573,1.311309,0.114407,-0.227060,1.312390,1.085330,-1.483051,-0.883109,-3.038866,-1.823203
1,0.694915,1.413676,1.195587,6.790766,-0.962595,-0.002046,-0.964641,2.396844,1.452075,-2.081823,-1.142314
2,-2.228070,-1.589353,-1.883515,-4.102541,-0.136721,-0.528433,-0.665154,-3.203267,-0.514519,-0.681186,-1.340290
3,-7.599516,0.147973,0.364549,1.483575,-1.897762,-0.402601,-2.300363,-1.210526,-0.709619,2.215668,1.409256
4,-0.206897,-1.031034,-0.391379,-1.062069,2.724138,-2.086207,0.637931,-1.344828,-1.896552,-1.120690,-0.275862

In [27]:
neg_matchup_1819['HOME'] = matchup_1819['AWAY']
neg_matchup_1819['AWAY'] = matchup_1819['HOME']
neg_matchup_1819.head()

,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF,HOME,AWAY
0,1.684395,-0.170573,1.311309,0.114407,-0.227060,1.312390,1.085330,-1.483051,-0.883109,-3.038866,-1.823203,BKN,ATL
1,0.694915,1.413676,1.195587,6.790766,-0.962595,-0.002046,-0.964641,2.396844,1.452075,-2.081823,-1.142314,BOS,BKN
2,-2.228070,-1.589353,-1.883515,-4.102541,-0.136721,-0.528433,-0.665154,-3.203267,-0.514519,-0.681186,-1.340290,CHA,BOS
3,-7.599516,0.147973,0.364549,1.483575,-1.897762,-0.402601,-2.300363,-1.210526,-0.709619,2.215668,1.409256,CHI,CHA
4,-0.206897,-1.031034,-0.391379,-1.062069,2.724138,-2.086207,0.637931,-1.344828,-1.896552,-1.120690,-0.275862,CLE,CHI

In [28]:
neg_matchup_1819 = neg_matchup_1819[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
neg_matchup_1819.head()

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,BKN,ATL,1.684395,-0.170573,1.311309,0.114407,-0.227060,1.312390,1.085330,-1.483051,-0.883109,-3.038866,-1.823203
1,BOS,BKN,0.694915,1.413676,1.195587,6.790766,-0.962595,-0.002046,-0.964641,2.396844,1.452075,-2.081823,-1.142314
2,CHA,BOS,-2.228070,-1.589353,-1.883515,-4.102541,-0.136721,-0.528433,-0.665154,-3.203267,-0.514519,-0.681186,-1.340290
3,CHI,CHA,-7.599516,0.147973,0.364549,1.483575,-1.897762,-0.402601,-2.300363,-1.210526,-0.709619,2.215668,1.409256
4,CLE,CHI,-0.206897,-1.031034,-0.391379,-1.062069,2.724138,-2.086207,0.637931,-1.344828,-1.896552,-1.120690,-0.275862

In [29]:
full_1819 = pd.concat([matchup_1819, neg_matchup_1819], axis=0, ignore_index=True, sort=True)
full_1819.head()

,3P%,AST,AWAY,BLK,DREB,FG%,FT%,HOME,OREB,PF,PTS,REB,TOV
0,-1.311309,1.483051,BKN,0.883109,-1.312390,0.170573,-0.114407,ATL,0.227060,1.823203,-1.684395,-1.085330,3.038866
1,-1.195587,-2.396844,BOS,-1.452075,0.002046,-1.413676,-6.790766,BKN,0.962595,1.142314,-0.694915,0.964641,2.081823
2,1.883515,3.203267,CHA,0.514519,0.528433,1.589353,4.102541,BOS,0.136721,1.340290,2.228070,0.665154,0.681186
3,-0.364549,1.210526,CHI,0.709619,0.402601,-0.147973,-1.483575,CHA,1.897762,-1.409256,7.599516,2.300363,-2.215668
4,0.391379,1.344828,CLE,1.896552,2.086207,1.031034,1.062069,CHI,-2.724138,0.275862,0.206897,-0.637931,1.120690

In [30]:
full_1819 = full_1819[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
full_1819.head()

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,BKN,-1.684395,0.170573,-1.311309,-0.114407,0.227060,-1.312390,-1.085330,1.483051,0.883109,3.038866,1.823203
1,BKN,BOS,-0.694915,-1.413676,-1.195587,-6.790766,0.962595,0.002046,0.964641,-2.396844,-1.452075,2.081823,1.142314
2,BOS,CHA,2.228070,1.589353,1.883515,4.102541,0.136721,0.528433,0.665154,3.203267,0.514519,0.681186,1.340290
3,CHA,CHI,7.599516,-0.147973,-0.364549,-1.483575,1.897762,0.402601,2.300363,1.210526,0.709619,-2.215668,-1.409256
4,CHI,CLE,0.206897,1.031034,0.391379,1.062069,-2.724138,2.086207,-0.637931,1.344828,1.896552,1.120690,0.275862

In [31]:
full_1819.to_csv('Plus_Minus_1819.csv')

In [65]:
cha_hou = full_1819.loc[(full_1819['HOME'] == 'CHA') & (full_1819['AWAY'] == 'HOU')]
atl_min = full_1819.loc[(full_1819['HOME'] == 'ATL') & (full_1819['AWAY'] == 'MIN')]
bkn_was = full_1819.loc[(full_1819['HOME'] == 'BKN') & (full_1819['AWAY'] == 'WAS')]
mia_gsw = full_1819.loc[(full_1819['HOME'] == 'MIA') & (full_1819['AWAY'] == 'GSW')]
bos_por = full_1819.loc[(full_1819['HOME'] == 'BOS') & (full_1819['AWAY'] == 'POR')]
mem_chi = full_1819.loc[(full_1819['HOME'] == 'MEM') & (full_1819['AWAY'] == 'CHI')]
sas_det = full_1819.loc[(full_1819['HOME'] == 'SAS') & (full_1819['AWAY'] == 'DET')]
dal_ind = full_1819.loc[(full_1819['HOME'] == 'DAL') & (full_1819['AWAY'] == 'IND')]
uta_lac = full_1819.loc[(full_1819['HOME'] == 'UTA') & (full_1819['AWAY'] == 'LAC')]
sac_mil = full_1819.loc[(full_1819['HOME'] == 'SAC') & (full_1819['AWAY'] == 'MIL')]
lal_nop = full_1819.loc[(full_1819['HOME'] == 'LAL') & (full_1819['AWAY'] == 'NOP')]

predict_1819 = pd.concat([cha_hou, atl_min, bkn_was, mia_gsw, bos_por,
                          mem_chi, sas_det, dal_ind, uta_lac,
                          sac_mil, lal_nop], axis=0, sort=True)

predict_1819 = predict_1819[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
predict_1819.reset_index(drop=True, inplace=True)
predict_1819

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,CHA,HOU,-2.368421,0.191228,0.575439,-0.461404,-0.614035,3.403509,2.789474,2.456140,-0.140351,-1.263158,-3.403509
1,ATL,MIN,-1.256503,0.049758,-1.074259,-4.179825,-0.375378,0.270720,-0.104658,0.956140,-0.089534,5.047489,3.270720
2,BKN,WAS,-1.608708,-1.786090,1.095792,-0.676973,2.238457,2.933080,5.171537,-2.569258,-0.538282,1.168030,0.487142
3,MIA,GSW,-13.753446,-4.399311,-2.968202,-13.275407,1.483396,-1.208333,0.275063,-5.687970,-0.848684,1.427005,-0.703321
4,BOS,POR,-0.315789,0.094616,0.315094,0.625348,-1.038717,-1.454023,-2.492740,3.571688,0.654870,-0.845130,0.147308
5,MEM,CHI,-2.579193,-0.036704,-1.822385,-2.917563,-0.002922,-1.660140,-1.663063,1.627119,1.229690,-0.605202,1.530976
6,SAS,DET,5.785412,4.121459,7.698668,7.573487,-2.068099,0.671610,-1.396489,2.372579,0.637107,-2.276332,-4.097760
7,DAL,IND,0.581065,-3.011464,-2.270841,-1.863521,1.108893,1.107683,2.216576,-3.471869,-0.631579,1.419238,0.565638
8,UTA,LAC,-5.061255,-1.031401,-4.521499,-5.146030,0.125483,0.002081,0.127565,1.694915,0.695213,0.619090,-2.118644
9,SAC,MIL,-3.508772,-1.405263,3.033333,-6.322807,1.877193,-5.666667,-3.789474,-0.526316,-1.245614,-0.192982,1.929825
10,LAL,NOP,-3.364555,-0.421618,-0.894469,-7.960987,-0.808802,0.825751,0.016949,-1.832293,-0.220636,1.623550,-0.687481

In [66]:
X_1819 = predict_1819.drop(['HOME', 'AWAY', 'PTS'], axis=1)

In [67]:
import pickle
filename = 'NBA_Prediction.sav'

loaded_model = pickle.load(open(filename, 'rb'))

In [68]:
predictions_1819 = loaded_model.predict(X_1819)
predictions_1819

array([ 4.09157967, -7.00828909, -0.93386657, -9.34580514,  0.37173854,
       -1.2294499 , 10.31119984, -5.21327359, -2.47929149, -3.54418775,
       -3.8942866 ])

In [69]:
score_prediction_1819 = pd.DataFrame(data=predictions_1819)

In [70]:
game_predict_1819 = pd.concat([predict_1819, score_prediction_1819], axis=1, sort=True)
game_predict_1819

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF,0
0,CHA,HOU,-2.368421,0.191228,0.575439,-0.461404,-0.614035,3.403509,2.789474,2.456140,-0.140351,-1.263158,-3.403509,4.091580
1,ATL,MIN,-1.256503,0.049758,-1.074259,-4.179825,-0.375378,0.270720,-0.104658,0.956140,-0.089534,5.047489,3.270720,-7.008289
2,BKN,WAS,-1.608708,-1.786090,1.095792,-0.676973,2.238457,2.933080,5.171537,-2.569258,-0.538282,1.168030,0.487142,-0.933867
3,MIA,GSW,-13.753446,-4.399311,-2.968202,-13.275407,1.483396,-1.208333,0.275063,-5.687970,-0.848684,1.427005,-0.703321,-9.345805
4,BOS,POR,-0.315789,0.094616,0.315094,0.625348,-1.038717,-1.454023,-2.492740,3.571688,0.654870,-0.845130,0.147308,0.371739
5,MEM,CHI,-2.579193,-0.036704,-1.822385,-2.917563,-0.002922,-1.660140,-1.663063,1.627119,1.229690,-0.605202,1.530976,-1.229450
6,SAS,DET,5.785412,4.121459,7.698668,7.573487,-2.068099,0.671610,-1.396489,2.372579,0.637107,-2.276332,-4.097760,10.311200
7,DAL,IND,0.581065,-3.011464,-2.270841,-1.863521,1.108893,1.107683,2.216576,-3.471869,-0.631579,1.419238,0.565638,-5.213274
8,UTA,LAC,-5.061255,-1.031401,-4.521499,-5.146030,0.125483,0.002081,0.127565,1.694915,0.695213,0.619090,-2.118644,-2.479291
9,SAC,MIL,-3.508772,-1.405263,3.033333,-6.322807,1.877193,-5.666667,-3.789474,-0.526316,-1.245614,-0.192982,1.929825,-3.544188
10,LAL,NOP,-3.364555,-0.421618,-0.894469,-7.960987,-0.808802,0.825751,0.016949,-1.832293,-0.220636,1.623550,-0.687481,-3.894287

In [71]:
game_predict_1819.rename(columns = {list(game_predict_1819)[13]: 'Score Prediction'}, inplace = True)

game_predict_1819

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF,Score Prediction
0,CHA,HOU,-2.368421,0.191228,0.575439,-0.461404,-0.614035,3.403509,2.789474,2.456140,-0.140351,-1.263158,-3.403509,4.091580
1,ATL,MIN,-1.256503,0.049758,-1.074259,-4.179825,-0.375378,0.270720,-0.104658,0.956140,-0.089534,5.047489,3.270720,-7.008289
2,BKN,WAS,-1.608708,-1.786090,1.095792,-0.676973,2.238457,2.933080,5.171537,-2.569258,-0.538282,1.168030,0.487142,-0.933867
3,MIA,GSW,-13.753446,-4.399311,-2.968202,-13.275407,1.483396,-1.208333,0.275063,-5.687970,-0.848684,1.427005,-0.703321,-9.345805
4,BOS,POR,-0.315789,0.094616,0.315094,0.625348,-1.038717,-1.454023,-2.492740,3.571688,0.654870,-0.845130,0.147308,0.371739
5,MEM,CHI,-2.579193,-0.036704,-1.822385,-2.917563,-0.002922,-1.660140,-1.663063,1.627119,1.229690,-0.605202,1.530976,-1.229450
6,SAS,DET,5.785412,4.121459,7.698668,7.573487,-2.068099,0.671610,-1.396489,2.372579,0.637107,-2.276332,-4.097760,10.311200
7,DAL,IND,0.581065,-3.011464,-2.270841,-1.863521,1.108893,1.107683,2.216576,-3.471869,-0.631579,1.419238,0.565638,-5.213274
8,UTA,LAC,-5.061255,-1.031401,-4.521499,-5.146030,0.125483,0.002081,0.127565,1.694915,0.695213,0.619090,-2.118644,-2.479291
9,SAC,MIL,-3.508772,-1.405263,3.033333,-6.322807,1.877193,-5.666667,-3.789474,-0.526316,-1.245614,-0.192982,1.929825,-3.544188
10,LAL,NOP,-3.364555,-0.421618,-0.894469,-7.960987,-0.808802,0.825751,0.016949,-1.832293,-0.220636,1.623550,-0.687481,-3.894287

In [72]:
presentation_prediction = game_predict_1819[['HOME', 'AWAY', 'Score Prediction']]
presentation_prediction

   HOME AWAY  Score Prediction
0   CHA  HOU          4.091580
1   ATL  MIN         -7.008289
2   BKN  WAS         -0.933867
3   MIA  GSW         -9.345805
4   BOS  POR          0.371739
5   MEM  CHI         -1.229450
6   SAS  DET         10.311200
7   DAL  IND         -5.213274
8   UTA  LAC         -2.479291
9   SAC  MIL         -3.544188
10  LAL  NOP         -3.894287

Prediction Test 18-19