In [1]:
import pickle
import pandas as pd

In [2]:
playoff_1314 = pd.read_csv('Plus_Minus_1314.csv')
playoff_1314.drop(playoff_1314.columns[0], axis=1, inplace=True)
playoff_1314.head()

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,BKN,2.475610,-0.109756,-0.184146,2.856098,-0.097561,1.926829,1.829268,3.987805,0.182927,0.731707,-2.439024
1,BKN,BOS,2.280488,2.262195,3.446341,-3.101220,-3.158537,-1.195122,-4.353659,-0.146341,-0.390244,-0.853659,0.414634
2,BOS,CHA,-0.609756,-0.641463,-2.241463,4.656098,2.487805,-2.670732,-0.182927,-0.634146,-0.951220,3.060976,3.048780
3,CHA,CHI,3.195122,1.013415,0.298780,-4.226829,-1.963415,0.500000,-1.463415,-1.000000,-0.036585,-2.597561,-0.878049
4,CHI,CLE,-4.560976,-0.450000,-0.817073,3.162195,-0.634146,0.658537,0.024390,1.487805,1.463415,0.731707,-0.914634

In [3]:
spurs_mavs_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'SAS') & (playoff_1314['AWAY'] == 'DAL')]
spurs_mavs_rd1

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
821,SAS,DAL,0.512195,1.260976,1.529268,-0.819512,-0.95122,3.317073,2.365854,1.573171,0.780488,0.853659,-1.719512

In [4]:
filename = 'NBA_Prediction.sav'

loaded_model = pickle.load(open(filename, 'rb'))

In [5]:
hou_por_1 = playoff_1314.loc[(playoff_1314['HOME'] == 'HOU') & (playoff_1314['AWAY'] == 'POR')]
hou_por_1

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
309,HOU,POR,0.926829,2.332927,-1.406098,-10.131707,-1.243902,0.134146,-1.109756,-1.817073,0.902439,2.414634,1.219512

In [6]:
lac_gsw_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'LAC') & (playoff_1314['AWAY'] == 'GSW')]
okc_mem_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'OKC') & (playoff_1314['AWAY'] == 'MEM')]
sas_por_rd2 = playoff_1314.loc[(playoff_1314['HOME'] == 'SAS') & (playoff_1314['AWAY'] == 'POR')]
lac_okc_rd2 = playoff_1314.loc[(playoff_1314['HOME'] == 'LAC') & (playoff_1314['AWAY'] == 'OKC')]
sas_okc_rd3 = playoff_1314.loc[(playoff_1314['HOME'] == 'SAS') & (playoff_1314['AWAY'] == 'OKC')]
ind_atl_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'IND') & (playoff_1314['AWAY'] == 'ATL')]
chi_was_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'CHI') & (playoff_1314['AWAY'] == 'WAS')]
tor_bkn_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'TOR') & (playoff_1314['AWAY'] == 'BKN')]
mia_cha_rd1 = playoff_1314.loc[(playoff_1314['HOME'] == 'MIA') & (playoff_1314['AWAY'] == 'CHA')]
ind_was_rd2 = playoff_1314.loc[(playoff_1314['HOME'] == 'IND') & (playoff_1314['AWAY'] == 'WAS')]
mia_bkn_rd2 = playoff_1314.loc[(playoff_1314['HOME'] == 'MIA') & (playoff_1314['AWAY'] == 'BKN')]
mia_ind_rd3 = playoff_1314.loc[(playoff_1314['HOME'] == 'MIA') & (playoff_1314['AWAY'] == 'IND')]
sas_mia_rd4 = playoff_1314.loc[(playoff_1314['HOME'] == 'SAS') & (playoff_1314['AWAY'] == 'MIA')]

predict_1314 = pd.concat([spurs_mavs_rd1, hou_por_1, lac_gsw_rd1, okc_mem_rd1, sas_por_rd2,
                          lac_okc_rd2, sas_okc_rd3, ind_atl_rd1, chi_was_rd1, tor_bkn_rd1,
                          mia_cha_rd1, ind_was_rd2, mia_bkn_rd2, mia_ind_rd3, sas_mia_rd4],
                        axis=0, sort=True)

predict_1314 = predict_1314[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
predict_1314

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
821,SAS,DAL,0.512195,1.260976,1.529268,-0.819512,-0.951220,3.317073,2.365854,1.573171,0.780488,0.853659,-1.719512
309,HOU,POR,0.926829,2.332927,-1.406098,-10.131707,-1.243902,0.134146,-1.109756,-1.817073,0.902439,2.414634,1.219512
501,LAC,GSW,3.670732,1.304878,-2.779268,-2.448780,-0.463415,-1.841463,-2.304878,1.268293,-0.121951,-1.353659,-0.207317
584,OKC,MEM,10.012195,0.695122,1.252439,6.776829,-0.768293,3.109756,2.341463,0.024390,1.536585,1.609756,3.536585
488,SAS,POR,-1.390244,3.714634,2.643902,-3.458537,-3.170732,-0.000000,-3.170732,1.951220,0.402439,0.670732,-0.987805
194,LAC,OKC,1.768293,0.310976,-1.318293,-7.254878,-0.353659,-1.378049,-1.731707,2.707317,-1.268293,-1.463415,-1.109756
590,SAS,OKC,-0.804878,1.509756,3.265854,-2.347561,-1.524390,0.060976,-1.463415,3.292683,-0.987805,-0.926829,-4.426829
680,IND,ATL,-4.256098,-0.848780,-0.347561,-0.382927,1.475610,3.243902,4.719512,-4.756098,1.463415,-0.170732,1.195122
424,CHI,WAS,-7.000000,-2.750000,-2.990244,5.028049,0.621951,1.341463,1.963415,-0.597561,0.573171,0.231707,-1.341463
861,TOR,BKN,2.756098,-1.260976,0.868293,2.578049,2.609756,1.768293,4.378049,0.280488,0.390244,-0.390244,1.280488
702,MIA,CHA,5.341463,5.841463,1.457317,2.460976,-1.817073,-3.987805,-5.804878,0.841463,-0.658537,2.463415,1.256098
368,IND,WAS,-3.914634,-1.074390,-2.018293,4.829268,-0.634146,3.146341,2.512195,-3.146341,0.841463,0.402439,0.000000
735,MIA,BKN,3.670732,4.220732,0.252439,0.906098,-1.146341,-0.121951,-1.268293,1.621951,0.682927,0.256098,-2.207317
530,MIA,IND,5.451220,5.179268,0.784146,-1.567073,-2.524390,-5.292683,-7.817073,2.390244,-0.963415,-0.304878,-0.963415
695,SAS,MIA,3.158537,-1.447561,3.293902,1.717073,1.646341,4.743902,6.390244,2.646341,0.646341,-0.390244,-1.231707

In [7]:
X_1314 = predict_1314.drop(['HOME', 'AWAY', 'PTS'], axis=1)

In [8]:
predictions_1314 = loaded_model.predict(X_1314)
predictions_1314

array([ 2.31331349, -3.32283122,  0.94311771,  0.01818079,  1.93099089,
        0.39505492,  3.97157543,  0.14062475, -1.88212342,  1.70726331,
        1.35986072, -1.06602795,  4.71583531,  2.64959228,  3.80678054])

In [9]:
score_prediction = pd.DataFrame(data=predictions_1314)

In [10]:
playoff_series_1314 = {'Home': ['SAS', 'HOU', 'LAC','OKC', 'SAS', 'LAC', 'SAS', 'IND', 'CHI', 'TOR', 'MIA', 'IND', 'MIA', 'IND', 'SAS'], 
                       'Away': ['DAL', 'POR', 'GSW', 'MEM', 'POR', 'OKC', 'OKC', 'ATL', 'WAS', 'BKN', 'CHA', 'WAS', 'BKN', 'MIA', 'MIA'],
                       'Series Result': ['SAS', 'POR', 'LAC', 'OKC', 'SAS', 'OKC', 'SAS', 'IND', 'WAS', 'BKN', 'MIA', 'IND', 'MIA', 'MIA', 'SAS'], 
                       'Round': [1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 2, 2, 3, 4],
                       'Game 1 Diff': [5, -2, -4, 14, 24, 17, 17, -8, -9, -7, 11, -6, 21, 11, 15]}

In [11]:
series_1314 = pd.DataFrame(data=playoff_series_1314)
series_1314

   Home Away Series Result  Round  Game 1 Diff
0   SAS  DAL           SAS      1            5
1   HOU  POR           POR      1           -2
2   LAC  GSW           LAC      1           -4
3   OKC  MEM           OKC      1           14
4   SAS  POR           SAS      2           24
5   LAC  OKC           OKC      2           17
6   SAS  OKC           SAS      3           17
7   IND  ATL           IND      1           -8
8   CHI  WAS           WAS      1           -9
9   TOR  BKN           BKN      1           -7
10  MIA  CHA           MIA      1           11
11  IND  WAS           IND      2           -6
12  MIA  BKN           MIA      2           21
13  IND  MIA           MIA      3           11
14  SAS  MIA           SAS      4           15

In [12]:
model_1314 = pd.concat([series_1314, score_prediction], axis=1, sort=True)
model_1314

   Home Away Series Result  Round  Game 1 Diff         0
0   SAS  DAL           SAS      1            5  2.313313
1   HOU  POR           POR      1           -2 -3.322831
2   LAC  GSW           LAC      1           -4  0.943118
3   OKC  MEM           OKC      1           14  0.018181
4   SAS  POR           SAS      2           24  1.930991
5   LAC  OKC           OKC      2           17  0.395055
6   SAS  OKC           SAS      3           17  3.971575
7   IND  ATL           IND      1           -8  0.140625
8   CHI  WAS           WAS      1           -9 -1.882123
9   TOR  BKN           BKN      1           -7  1.707263
10  MIA  CHA           MIA      1           11  1.359861
11  IND  WAS           IND      2           -6 -1.066028
12  MIA  BKN           MIA      2           21  4.715835
13  IND  MIA           MIA      3           11  2.649592
14  SAS  MIA           SAS      4           15  3.806781

In [13]:
model_1314.rename(columns = {list(model_1314)[5]: 'Score Prediction'}, inplace = True)
model_1314

   Home Away Series Result  Round  Game 1 Diff  Score Prediction
0   SAS  DAL           SAS      1            5          2.313313
1   HOU  POR           POR      1           -2         -3.322831
2   LAC  GSW           LAC      1           -4          0.943118
3   OKC  MEM           OKC      1           14          0.018181
4   SAS  POR           SAS      2           24          1.930991
5   LAC  OKC           OKC      2           17          0.395055
6   SAS  OKC           SAS      3           17          3.971575
7   IND  ATL           IND      1           -8          0.140625
8   CHI  WAS           WAS      1           -9         -1.882123
9   TOR  BKN           BKN      1           -7          1.707263
10  MIA  CHA           MIA      1           11          1.359861
11  IND  WAS           IND      2           -6         -1.066028
12  MIA  BKN           MIA      2           21          4.715835
13  IND  MIA           MIA      3           11          2.649592
14  SAS  MIA           SAS      4           15          3.806781

In [14]:
def diff(row):
    if row['Game 1 Diff'] > 0:
        val = 'Home'
    else:
        val = 'Away'
    return val

In [15]:
model_1314['Game 1 Result'] = model_1314.apply(diff, axis=1)
model_1314

   Home Away Series Result  Round  Game 1 Diff  Score Prediction Game 1 Result
0   SAS  DAL           SAS      1            5          2.313313          Home
1   HOU  POR           POR      1           -2         -3.322831          Away
2   LAC  GSW           LAC      1           -4          0.943118          Away
3   OKC  MEM           OKC      1           14          0.018181          Home
4   SAS  POR           SAS      2           24          1.930991          Home
5   LAC  OKC           OKC      2           17          0.395055          Home
6   SAS  OKC           SAS      3           17          3.971575          Home
7   IND  ATL           IND      1           -8          0.140625          Away
8   CHI  WAS           WAS      1           -9         -1.882123          Away
9   TOR  BKN           BKN      1           -7          1.707263          Away
10  MIA  CHA           MIA      1           11          1.359861          Home
11  IND  WAS           IND      2           -6         -1.066028          Away
12  MIA  BKN           MIA      2           21          4.715835          Home
13  IND  MIA           MIA      3           11          2.649592          Home
14  SAS  MIA           SAS      4           15          3.806781          Home

In [16]:
def diff_p(row):
    if row['Score Prediction'] > 0:
        val = 'Home'
    else:
        val = 'Away'
    return val

In [17]:
model_1314['Team Prediction'] = model_1314.apply(diff_p, axis=1)
model_1314

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction
0,SAS,DAL,SAS,1,5,2.313313,Home,Home
1,HOU,POR,POR,1,-2,-3.322831,Away,Away
2,LAC,GSW,LAC,1,-4,0.943118,Away,Home
3,OKC,MEM,OKC,1,14,0.018181,Home,Home
4,SAS,POR,SAS,2,24,1.930991,Home,Home
5,LAC,OKC,OKC,2,17,0.395055,Home,Home
6,SAS,OKC,SAS,3,17,3.971575,Home,Home
7,IND,ATL,IND,1,-8,0.140625,Away,Home
8,CHI,WAS,WAS,1,-9,-1.882123,Away,Away
9,TOR,BKN,BKN,1,-7,1.707263,Away,Home
10,MIA,CHA,MIA,1,11,1.359861,Home,Home
11,IND,WAS,IND,2,-6,-1.066028,Away,Away
12,MIA,BKN,MIA,2,21,4.715835,Home,Home
13,IND,MIA,MIA,3,11,2.649592,Home,Home
14,SAS,MIA,SAS,4,15,3.806781,Home,Home

In [18]:
def series(row):
    if row['Home'] == row['Series Result']:
        val = 'Home'
    else:
        val = 'Away'
    return val

In [19]:
model_1314['Series Actual'] = model_1314.apply(series, axis=1)
model_1314

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual
0,SAS,DAL,SAS,1,5,2.313313,Home,Home,Home
1,HOU,POR,POR,1,-2,-3.322831,Away,Away,Away
2,LAC,GSW,LAC,1,-4,0.943118,Away,Home,Home
3,OKC,MEM,OKC,1,14,0.018181,Home,Home,Home
4,SAS,POR,SAS,2,24,1.930991,Home,Home,Home
5,LAC,OKC,OKC,2,17,0.395055,Home,Home,Away
6,SAS,OKC,SAS,3,17,3.971575,Home,Home,Home
7,IND,ATL,IND,1,-8,0.140625,Away,Home,Home
8,CHI,WAS,WAS,1,-9,-1.882123,Away,Away,Away
9,TOR,BKN,BKN,1,-7,1.707263,Away,Home,Away
10,MIA,CHA,MIA,1,11,1.359861,Home,Home,Home
11,IND,WAS,IND,2,-6,-1.066028,Away,Away,Home
12,MIA,BKN,MIA,2,21,4.715835,Home,Home,Home
13,IND,MIA,MIA,3,11,2.649592,Home,Home,Away
14,SAS,MIA,SAS,4,15,3.806781,Home,Home,Home

In [20]:
def correct_g(row):
    if row['Game 1 Result'] == row['Team Prediction']:
        val = 'Yes'
    else:
        val = 'No'
    return val

In [21]:
def correct_s(row):
    if row['Series Actual'] == row['Team Prediction']:
        val = 'Yes'
    else:
        val = 'No'
    return val

In [22]:
model_1314['Game Correct'] = model_1314.apply(correct_g, axis=1)
model_1314

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct
0,SAS,DAL,SAS,1,5,2.313313,Home,Home,Home,Yes
1,HOU,POR,POR,1,-2,-3.322831,Away,Away,Away,Yes
2,LAC,GSW,LAC,1,-4,0.943118,Away,Home,Home,No
3,OKC,MEM,OKC,1,14,0.018181,Home,Home,Home,Yes
4,SAS,POR,SAS,2,24,1.930991,Home,Home,Home,Yes
5,LAC,OKC,OKC,2,17,0.395055,Home,Home,Away,Yes
6,SAS,OKC,SAS,3,17,3.971575,Home,Home,Home,Yes
7,IND,ATL,IND,1,-8,0.140625,Away,Home,Home,No
8,CHI,WAS,WAS,1,-9,-1.882123,Away,Away,Away,Yes
9,TOR,BKN,BKN,1,-7,1.707263,Away,Home,Away,No
10,MIA,CHA,MIA,1,11,1.359861,Home,Home,Home,Yes
11,IND,WAS,IND,2,-6,-1.066028,Away,Away,Home,Yes
12,MIA,BKN,MIA,2,21,4.715835,Home,Home,Home,Yes
13,IND,MIA,MIA,3,11,2.649592,Home,Home,Away,Yes
14,SAS,MIA,SAS,4,15,3.806781,Home,Home,Home,Yes

In [23]:
model_1314['Series Correct'] = model_1314.apply(correct_s, axis=1)
model_1314

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct,Series Correct
0,SAS,DAL,SAS,1,5,2.313313,Home,Home,Home,Yes,Yes
1,HOU,POR,POR,1,-2,-3.322831,Away,Away,Away,Yes,Yes
2,LAC,GSW,LAC,1,-4,0.943118,Away,Home,Home,No,Yes
3,OKC,MEM,OKC,1,14,0.018181,Home,Home,Home,Yes,Yes
4,SAS,POR,SAS,2,24,1.930991,Home,Home,Home,Yes,Yes
5,LAC,OKC,OKC,2,17,0.395055,Home,Home,Away,Yes,No
6,SAS,OKC,SAS,3,17,3.971575,Home,Home,Home,Yes,Yes
7,IND,ATL,IND,1,-8,0.140625,Away,Home,Home,No,Yes
8,CHI,WAS,WAS,1,-9,-1.882123,Away,Away,Away,Yes,Yes
9,TOR,BKN,BKN,1,-7,1.707263,Away,Home,Away,No,No
10,MIA,CHA,MIA,1,11,1.359861,Home,Home,Home,Yes,Yes
11,IND,WAS,IND,2,-6,-1.066028,Away,Away,Home,Yes,No
12,MIA,BKN,MIA,2,21,4.715835,Home,Home,Home,Yes,Yes
13,IND,MIA,MIA,3,11,2.649592,Home,Home,Away,Yes,No
14,SAS,MIA,SAS,4,15,3.806781,Home,Home,Home,Yes,Yes

In [26]:
game_count = model_1314.groupby(['Game Correct']).count()
game_count = game_count['Home']
game_count

Game Correct
No      3
Yes    12
Name: Home, dtype: int64

In [27]:
series_count = model_1314.groupby(['Series Correct']).count()
series_count = series_count['Home']
series_count

Series Correct
No      4
Yes    11
Name: Home, dtype: int64

In [28]:
playoff_series_1415 = {'Home': ['GSW', 'POR', 'LAC','HOU', 'GSW', 'HOU', 'GSW', 'ATL', 'TOR', 'CHI', 'CLE', 'ATL', 'CLE', 'ATL', 'GSW'], 
                       'Away': ['NOP', 'MEM', 'SAS', 'DAL', 'MEM', 'LAC', 'HOU', 'BKN', 'WAS', 'MIL', 'BOS', 'WAS', 'CHI', 'CLE', 'CLE'],
                       'Series Result': ['GSW', 'MEM', 'LAC', 'HOU', 'GSW', 'HOU', 'GSW', 'ATL', 'WAS', 'CHI', 'CLE', 'ATL', 'CLE', 'CLE', 'GSW'], 
                       'Round': [1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 2, 2, 3, 4],
                       'Game 1 Diff': [7, 14, 17, 10, 15, -16, 4, 7, -7, 12, 13, -6, -7, -8, 8]}

In [29]:
series_1415 = pd.DataFrame(data=playoff_series_1415)
series_1415

   Home Away Series Result  Round  Game 1 Diff
0   GSW  NOP           GSW      1            7
1   POR  MEM           MEM      1           14
2   LAC  SAS           LAC      1           17
3   HOU  DAL           HOU      1           10
4   GSW  MEM           GSW      2           15
5   HOU  LAC           HOU      2          -16
6   GSW  HOU           GSW      3            4
7   ATL  BKN           ATL      1            7
8   TOR  WAS           WAS      1           -7
9   CHI  MIL           CHI      1           12
10  CLE  BOS           CLE      1           13
11  ATL  WAS           ATL      2           -6
12  CLE  CHI           CLE      2           -7
13  ATL  CLE           CLE      3           -8
14  GSW  CLE           GSW      4            8

In [30]:
playoff_1415 = pd.read_csv('Plus_Minus_1415.csv')
playoff_1415.drop(playoff_1415.columns[0], axis=1, inplace=True)
playoff_1415.head()

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,BKN,4.524390,1.491463,5.295122,2.839024,-1.597561,-0.195122,-1.792683,4.817073,0.487805,0.414634,-1.487805
1,BKN,BOS,-3.341463,0.793902,0.101220,-0.862195,-0.780488,-0.707317,-1.487805,-3.573171,0.560976,0.000000,-1.939024
2,BOS,CHA,7.207317,2.369512,1.320732,0.917073,1.097561,-1.317073,-0.219512,4.329268,-1.878049,1.914634,2.975610
3,CHA,CHI,-6.634146,-2.254878,-4.060976,-3.431707,-1.695122,0.012195,-1.682927,-1.548780,-0.341463,-2.060976,-0.012195
4,CHI,CLE,-2.341463,-1.573171,-1.017073,3.679268,0.585366,2.195122,2.780488,-0.402439,1.658537,-0.317073,-0.182927

In [31]:
gsw_nop_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'GSW') & (playoff_1415['AWAY'] == 'NOP')]
por_mem_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'POR') & (playoff_1415['AWAY'] == 'MEM')]
lac_sas_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'LAC') & (playoff_1415['AWAY'] == 'SAS')]
hou_dal_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'HOU') & (playoff_1415['AWAY'] == 'DAL')]
gsw_mem_rd2 = playoff_1415.loc[(playoff_1415['HOME'] == 'GSW') & (playoff_1415['AWAY'] == 'MEM')]
hou_lac_rd2 = playoff_1415.loc[(playoff_1415['HOME'] == 'HOU') & (playoff_1415['AWAY'] == 'LAC')]
gsw_hou_rd3 = playoff_1415.loc[(playoff_1415['HOME'] == 'GSW') & (playoff_1415['AWAY'] == 'HOU')]
atl_bkn_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'ATL') & (playoff_1415['AWAY'] == 'BKN')]
tor_was_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'TOR') & (playoff_1415['AWAY'] == 'WAS')]
chi_mil_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'CHI') & (playoff_1415['AWAY'] == 'MIL')]
cle_bos_rd1 = playoff_1415.loc[(playoff_1415['HOME'] == 'CLE') & (playoff_1415['AWAY'] == 'BOS')]
atl_was_rd2 = playoff_1415.loc[(playoff_1415['HOME'] == 'ATL') & (playoff_1415['AWAY'] == 'WAS')]
cle_chi_rd2 = playoff_1415.loc[(playoff_1415['HOME'] == 'CLE') & (playoff_1415['AWAY'] == 'CHI')]
atl_cle_rd3 = playoff_1415.loc[(playoff_1415['HOME'] == 'ATL') & (playoff_1415['AWAY'] == 'CLE')]
gsw_cle_rd4 = playoff_1415.loc[(playoff_1415['HOME'] == 'GSW') & (playoff_1415['AWAY'] == 'CLE')]

predict_1415 = pd.concat([gsw_nop_rd1, por_mem_rd1, lac_sas_rd1, hou_dal_rd1, gsw_mem_rd2,
                          hou_lac_rd2, gsw_hou_rd3, atl_bkn_rd1, tor_was_rd1, chi_mil_rd1,
                          cle_bos_rd1, atl_was_rd2, cle_chi_rd2, atl_cle_rd3, gsw_cle_rd4],
                        axis=0, sort=True)

predict_1415 = predict_1415[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
predict_1415

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
213,GSW,NOP,10.597561,2.071951,2.637805,1.924390,-1.085366,2.353659,1.268293,5.390244,-0.170732,1.195122,1.195122
674,POR,MEM,4.475610,-0.813415,2.486585,2.303659,0.280488,3.012195,3.292683,0.268293,0.304878,0.280488,-0.890244
311,LAC,SAS,3.536585,0.384146,1.067073,-7.021951,-0.268293,-0.743902,-1.012195,0.378049,-0.426829,-1.634146,2.256098
525,HOU,DAL,-1.292683,-1.881707,-0.056098,-3.843902,1.219512,0.195122,1.414634,-0.317073,0.439024,3.707317,1.939024
119,GSW,MEM,11.634146,1.990244,6.157317,-1.213415,-0.036585,2.195122,2.158537,5.743902,1.817073,1.109756,0.743902
39,HOU,LAC,-2.792683,-2.878049,-2.400000,0.646341,2.121951,-1.060976,1.060976,-2.573171,-0.024390,4.317073,0.658537
9,GSW,HOU,6.024390,3.451220,4.940244,4.946341,-1.280488,2.317073,1.036585,5.219512,1.085366,-2.207317,-2.134146
0,ATL,BKN,4.524390,1.491463,5.295122,2.839024,-1.597561,-0.195122,-1.792683,4.817073,0.487805,0.414634,-1.487805
56,TOR,WAS,5.451220,-0.870732,-1.056098,5.173171,0.231707,-3.353659,-3.121951,-3.268293,-0.256098,-2.146341,0.060976
268,CHI,MIL,2.951220,-1.756098,-1.024390,2.932927,1.012195,2.658537,3.670732,-1.841463,0.890244,-2.780488,-3.890244
494,CLE,BOS,1.768293,1.458537,3.757317,-1.164634,0.012195,-0.890244,-0.878049,-2.378049,0.560976,0.463415,-2.780488
434,ATL,WAS,4.012195,0.263415,1.841463,3.791463,-1.792683,-2.317073,-4.109756,1.731707,0.024390,-0.804878,-3.048780
439,CLE,CHI,2.341463,1.573171,1.017073,-3.679268,-0.585366,-2.195122,-2.780488,0.402439,-1.658537,0.317073,0.182927
110,ATL,CLE,-0.585366,0.826829,1.639024,3.141463,-2.390244,-0.012195,-2.402439,3.621951,0.487805,-0.048780,-0.646341
524,GSW,CLE,6.817073,2.031707,3.412195,2.228049,-0.707317,2.463415,1.756098,5.292683,1.902439,0.170732,1.439024

In [32]:
X_1415 = predict_1415.drop(['HOME', 'AWAY', 'PTS'], axis=1)

In [33]:
predictions_1415 = loaded_model.predict(X_1415)
predictions_1415

array([ 2.76369764,  1.48991025, -0.01237257, -6.22022805,  3.98586085,
       -7.69049951,  9.61927628,  3.02177896, -0.21984895,  3.8002245 ,
        1.85788914,  1.16353471, -0.32668271,  1.00233405,  4.21010117])

In [35]:
score_prediction_1415 = pd.DataFrame(data=predictions_1415)

In [36]:
model_1415 = pd.concat([series_1415, score_prediction_1415], axis=1, sort=True)
model_1415

   Home Away Series Result  Round  Game 1 Diff         0
0   GSW  NOP           GSW      1            7  2.763698
1   POR  MEM           MEM      1           14  1.489910
2   LAC  SAS           LAC      1           17 -0.012373
3   HOU  DAL           HOU      1           10 -6.220228
4   GSW  MEM           GSW      2           15  3.985861
5   HOU  LAC           HOU      2          -16 -7.690500
6   GSW  HOU           GSW      3            4  9.619276
7   ATL  BKN           ATL      1            7  3.021779
8   TOR  WAS           WAS      1           -7 -0.219849
9   CHI  MIL           CHI      1           12  3.800224
10  CLE  BOS           CLE      1           13  1.857889
11  ATL  WAS           ATL      2           -6  1.163535
12  CLE  CHI           CLE      2           -7 -0.326683
13  ATL  CLE           CLE      3           -8  1.002334
14  GSW  CLE           GSW      4            8  4.210101

In [37]:
model_1415.rename(columns = {list(model_1415)[5]: 'Score Prediction'}, inplace = True)
model_1415

   Home Away Series Result  Round  Game 1 Diff  Score Prediction
0   GSW  NOP           GSW      1            7          2.763698
1   POR  MEM           MEM      1           14          1.489910
2   LAC  SAS           LAC      1           17         -0.012373
3   HOU  DAL           HOU      1           10         -6.220228
4   GSW  MEM           GSW      2           15          3.985861
5   HOU  LAC           HOU      2          -16         -7.690500
6   GSW  HOU           GSW      3            4          9.619276
7   ATL  BKN           ATL      1            7          3.021779
8   TOR  WAS           WAS      1           -7         -0.219849
9   CHI  MIL           CHI      1           12          3.800224
10  CLE  BOS           CLE      1           13          1.857889
11  ATL  WAS           ATL      2           -6          1.163535
12  CLE  CHI           CLE      2           -7         -0.326683
13  ATL  CLE           CLE      3           -8          1.002334
14  GSW  CLE           GSW      4            8          4.210101

In [38]:
model_1415['Game 1 Result'] = model_1415.apply(diff, axis=1)
model_1415

   Home Away Series Result  Round  Game 1 Diff  Score Prediction Game 1 Result
0   GSW  NOP           GSW      1            7          2.763698          Home
1   POR  MEM           MEM      1           14          1.489910          Home
2   LAC  SAS           LAC      1           17         -0.012373          Home
3   HOU  DAL           HOU      1           10         -6.220228          Home
4   GSW  MEM           GSW      2           15          3.985861          Home
5   HOU  LAC           HOU      2          -16         -7.690500          Away
6   GSW  HOU           GSW      3            4          9.619276          Home
7   ATL  BKN           ATL      1            7          3.021779          Home
8   TOR  WAS           WAS      1           -7         -0.219849          Away
9   CHI  MIL           CHI      1           12          3.800224          Home
10  CLE  BOS           CLE      1           13          1.857889          Home
11  ATL  WAS           ATL      2           -6          1.163535          Away
12  CLE  CHI           CLE      2           -7         -0.326683          Away
13  ATL  CLE           CLE      3           -8          1.002334          Away
14  GSW  CLE           GSW      4            8          4.210101          Home

In [39]:
model_1415['Team Prediction'] = model_1415.apply(diff_p, axis=1)
model_1415

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction
0,GSW,NOP,GSW,1,7,2.763698,Home,Home
1,POR,MEM,MEM,1,14,1.489910,Home,Home
2,LAC,SAS,LAC,1,17,-0.012373,Home,Away
3,HOU,DAL,HOU,1,10,-6.220228,Home,Away
4,GSW,MEM,GSW,2,15,3.985861,Home,Home
5,HOU,LAC,HOU,2,-16,-7.690500,Away,Away
6,GSW,HOU,GSW,3,4,9.619276,Home,Home
7,ATL,BKN,ATL,1,7,3.021779,Home,Home
8,TOR,WAS,WAS,1,-7,-0.219849,Away,Away
9,CHI,MIL,CHI,1,12,3.800224,Home,Home
10,CLE,BOS,CLE,1,13,1.857889,Home,Home
11,ATL,WAS,ATL,2,-6,1.163535,Away,Home
12,CLE,CHI,CLE,2,-7,-0.326683,Away,Away
13,ATL,CLE,CLE,3,-8,1.002334,Away,Home
14,GSW,CLE,GSW,4,8,4.210101,Home,Home

In [40]:
model_1415['Series Actual'] = model_1415.apply(series, axis=1)
model_1415

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual
0,GSW,NOP,GSW,1,7,2.763698,Home,Home,Home
1,POR,MEM,MEM,1,14,1.489910,Home,Home,Away
2,LAC,SAS,LAC,1,17,-0.012373,Home,Away,Home
3,HOU,DAL,HOU,1,10,-6.220228,Home,Away,Home
4,GSW,MEM,GSW,2,15,3.985861,Home,Home,Home
5,HOU,LAC,HOU,2,-16,-7.690500,Away,Away,Home
6,GSW,HOU,GSW,3,4,9.619276,Home,Home,Home
7,ATL,BKN,ATL,1,7,3.021779,Home,Home,Home
8,TOR,WAS,WAS,1,-7,-0.219849,Away,Away,Away
9,CHI,MIL,CHI,1,12,3.800224,Home,Home,Home
10,CLE,BOS,CLE,1,13,1.857889,Home,Home,Home
11,ATL,WAS,ATL,2,-6,1.163535,Away,Home,Home
12,CLE,CHI,CLE,2,-7,-0.326683,Away,Away,Home
13,ATL,CLE,CLE,3,-8,1.002334,Away,Home,Away
14,GSW,CLE,GSW,4,8,4.210101,Home,Home,Home

In [41]:
model_1415['Game Correct'] = model_1415.apply(correct_g, axis=1)
model_1415

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct
0,GSW,NOP,GSW,1,7,2.763698,Home,Home,Home,Yes
1,POR,MEM,MEM,1,14,1.489910,Home,Home,Away,Yes
2,LAC,SAS,LAC,1,17,-0.012373,Home,Away,Home,No
3,HOU,DAL,HOU,1,10,-6.220228,Home,Away,Home,No
4,GSW,MEM,GSW,2,15,3.985861,Home,Home,Home,Yes
5,HOU,LAC,HOU,2,-16,-7.690500,Away,Away,Home,Yes
6,GSW,HOU,GSW,3,4,9.619276,Home,Home,Home,Yes
7,ATL,BKN,ATL,1,7,3.021779,Home,Home,Home,Yes
8,TOR,WAS,WAS,1,-7,-0.219849,Away,Away,Away,Yes
9,CHI,MIL,CHI,1,12,3.800224,Home,Home,Home,Yes
10,CLE,BOS,CLE,1,13,1.857889,Home,Home,Home,Yes
11,ATL,WAS,ATL,2,-6,1.163535,Away,Home,Home,No
12,CLE,CHI,CLE,2,-7,-0.326683,Away,Away,Home,Yes
13,ATL,CLE,CLE,3,-8,1.002334,Away,Home,Away,No
14,GSW,CLE,GSW,4,8,4.210101,Home,Home,Home,Yes

In [42]:
model_1415['Series Correct'] = model_1415.apply(correct_s, axis=1)
model_1415

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct,Series Correct
0,GSW,NOP,GSW,1,7,2.763698,Home,Home,Home,Yes,Yes
1,POR,MEM,MEM,1,14,1.489910,Home,Home,Away,Yes,No
2,LAC,SAS,LAC,1,17,-0.012373,Home,Away,Home,No,No
3,HOU,DAL,HOU,1,10,-6.220228,Home,Away,Home,No,No
4,GSW,MEM,GSW,2,15,3.985861,Home,Home,Home,Yes,Yes
5,HOU,LAC,HOU,2,-16,-7.690500,Away,Away,Home,Yes,No
6,GSW,HOU,GSW,3,4,9.619276,Home,Home,Home,Yes,Yes
7,ATL,BKN,ATL,1,7,3.021779,Home,Home,Home,Yes,Yes
8,TOR,WAS,WAS,1,-7,-0.219849,Away,Away,Away,Yes,Yes
9,CHI,MIL,CHI,1,12,3.800224,Home,Home,Home,Yes,Yes
10,CLE,BOS,CLE,1,13,1.857889,Home,Home,Home,Yes,Yes
11,ATL,WAS,ATL,2,-6,1.163535,Away,Home,Home,No,Yes
12,CLE,CHI,CLE,2,-7,-0.326683,Away,Away,Home,Yes,No
13,ATL,CLE,CLE,3,-8,1.002334,Away,Home,Away,No,No
14,GSW,CLE,GSW,4,8,4.210101,Home,Home,Home,Yes,Yes

In [43]:
game_count_1415 = model_1415.groupby(['Game Correct']).count()
game_count_1415 = game_count_1415['Home']
game_count_1415

Game Correct
No      4
Yes    11
Name: Home, dtype: int64

In [44]:
series_count_1415 = model_1415.groupby(['Series Correct']).count()
series_count_1415 = series_count_1415['Home']
series_count_1415

Series Correct
No     6
Yes    9
Name: Home, dtype: int64

In [45]:
playoff_series_1516 = {'Home': ['GSW', 'SAS', 'OKC','LAC', 'GSW', 'SAS', 'GSW', 'CLE', 'TOR', 'MIA', 'ATL', 'CLE', 'TOR', 'CLE', 'GSW'], 
                       'Away': ['HOU', 'MEM', 'DAL', 'POR', 'POR', 'OKC', 'OKC', 'DET', 'IND', 'CHA', 'BOS', 'ATL', 'MIA', 'TOR', 'CLE'],
                       'Series Result': ['GSW', 'SAS', 'OKC', 'POR', 'GSW', 'OKC', 'GSW', 'CLE', 'TOR', 'MIA', 'ATL', 'CLE', 'TOR', 'CLE', 'GSW'], 
                       'Round': [1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 2, 2, 3, 4],
                       'Game 1 Diff': [26, 32, 38, 20, 12, 32, -6, 5, -10, 32, 1, 11, -6, 31, 15]}

In [46]:
series_1516 = pd.DataFrame(data=playoff_series_1516)
series_1516

   Home Away Series Result  Round  Game 1 Diff
0   GSW  HOU           GSW      1           26
1   SAS  MEM           SAS      1           32
2   OKC  DAL           OKC      1           38
3   LAC  POR           POR      1           20
4   GSW  POR           GSW      2           12
5   SAS  OKC           OKC      2           32
6   GSW  OKC           GSW      3           -6
7   CLE  DET           CLE      1            5
8   TOR  IND           TOR      1          -10
9   MIA  CHA           MIA      1           32
10  ATL  BOS           ATL      1            1
11  CLE  ATL           CLE      2           11
12  TOR  MIA           TOR      2           -6
13  CLE  TOR           CLE      3           31
14  GSW  CLE           GSW      4           15

In [47]:
playoff_1516 = pd.read_csv('Plus_Minus_1516.csv')
playoff_1516.drop(playoff_1516.columns[0], axis=1, inplace=True)
playoff_1516.head()

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,BKN,4.195122,0.463415,0.320732,2.587805,-2.243902,1.926829,-0.317073,3.304878,1.878049,0.170732,1.146341
1,BKN,BOS,-7.073171,1.385366,1.313415,-3.656098,-1.060976,-1.451220,-2.512195,-1.853659,-0.195122,1.036585,-3.902439
2,BOS,CHA,2.317073,0.117073,-2.624390,-0.650000,2.634146,-1.658537,0.975610,2.475610,-1.097561,1.195122,3.768293
3,CHA,CHI,1.756098,-0.425610,-0.732927,1.318293,-2.109756,-0.243902,-2.353659,-1.121951,-0.390244,-1.365854,-0.707317
4,CHI,CLE,-2.682927,-1.873171,0.642683,3.286585,0.414634,1.365854,1.780488,0.109756,1.865854,0.329268,-1.475610

In [77]:
gsw_hou_rd1 = playoff_1516.loc[(playoff_1516['HOME'] == 'GSW') & (playoff_1516['AWAY'] == 'HOU')]
sas_mem_rd1 = playoff_1516.loc[(playoff_1516['HOME'] == 'SAS') & (playoff_1516['AWAY'] == 'MEM')]
okc_dal_rd1 = playoff_1516.loc[(playoff_1516['HOME'] == 'OKC') & (playoff_1516['AWAY'] == 'DAL')]
lac_por_rd1 = playoff_1516.loc[(playoff_1516['HOME'] == 'LAC') & (playoff_1516['AWAY'] == 'POR')]
gsw_por_rd2 = playoff_1516.loc[(playoff_1516['HOME'] == 'GSW') & (playoff_1516['AWAY'] == 'POR')]
sas_okc_rd2 = playoff_1516.loc[(playoff_1516['HOME'] == 'SAS') & (playoff_1516['AWAY'] == 'OKC')]
gsw_okc_rd3 = playoff_1516.loc[(playoff_1516['HOME'] == 'GSW') & (playoff_1516['AWAY'] == 'OKC')]
cle_det_rd1 = playoff_1516.loc[(playoff_1516['HOME'] == 'CLE') & (playoff_1516['AWAY'] == 'DET')]
tor_ind_rd1 = playoff_1516.loc[(playoff_1516['HOME'] == 'TOR') & (playoff_1516['AWAY'] == 'IND')]
mia_chi_rd1 = playoff_1516.loc[(playoff_1516['HOME'] == 'MIA') & (playoff_1516['AWAY'] == 'CHI')]
atl_bos_rd1 = playoff_1516.loc[(playoff_1516['HOME'] == 'ATL') & (playoff_1516['AWAY'] == 'BOS')]
cle_atl_rd2 = playoff_1516.loc[(playoff_1516['HOME'] == 'CLE') & (playoff_1516['AWAY'] == 'ATL')]
tor_mia_rd2 = playoff_1516.loc[(playoff_1516['HOME'] == 'TOR') & (playoff_1516['AWAY'] == 'MIA')]
cle_tor_rd3 = playoff_1516.loc[(playoff_1516['HOME'] == 'CLE') & (playoff_1516['AWAY'] == 'TOR')]
gsw_cle_rd4 = playoff_1516.loc[(playoff_1516['HOME'] == 'GSW') & (playoff_1516['AWAY'] == 'CLE')]

predict_1516 = pd.concat([gsw_hou_rd1, sas_mem_rd1, okc_dal_rd1, lac_por_rd1, gsw_por_rd2,
                          sas_okc_rd2, gsw_okc_rd3, cle_det_rd1, tor_ind_rd1, mia_chi_rd1,
                          atl_bos_rd1, cle_atl_rd2, tor_mia_rd2, cle_tor_rd3, gsw_cle_rd4],
                        axis=0, sort=True)

predict_1516 = predict_1516[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
predict_1516

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
9,GSW,HOU,8.341463,3.597561,6.617073,6.828049,-1.390244,4.524390,3.134146,6.731707,0.829268,-0.756098,-1.085366
713,SAS,MEM,4.439024,4.258537,5.201220,2.621951,-1.780488,4.073171,2.292683,3.817073,1.646341,-0.231707,-4.268293
740,OKC,DAL,7.926829,3.197561,0.698780,-0.669512,3.902439,1.646341,5.548780,0.853659,2.207317,3.146341,1.170732
276,LAC,POR,-0.646341,1.529268,-0.368293,-4.497561,-2.768293,-0.670732,-3.439024,1.524390,0.975610,-1.670732,-0.439024
324,GSW,POR,9.743902,3.756098,4.537805,1.609756,-1.609756,2.317073,0.707317,7.621951,1.439024,0.548780,-0.987805
590,SAS,OKC,-6.682927,0.797561,2.969512,2.150000,-3.670732,-1.036585,-4.707317,1.548780,-0.024390,-2.853659,-3.146341
254,GSW,OKC,4.670732,1.170732,6.423171,-1.845122,-3.109756,0.682927,-2.426829,5.975610,0.134146,-0.731707,0.121951
62,CLE,DET,2.365854,2.158537,1.865854,7.397561,-1.804878,0.000000,-1.804878,3.256098,0.158537,0.048780,1.329268
776,TOR,IND,0.548780,0.189024,1.742683,1.518293,-0.134146,-0.670732,-0.804878,-2.500000,0.707317,-1.780488,-0.378049
684,MIA,CHI,-1.597561,2.868293,-3.576829,-3.413415,-1.219512,-0.951220,-2.170732,-1.963415,0.743902,0.170732,-0.524390
29,ATL,BOS,-2.878049,1.848780,1.634146,-1.068293,-3.304878,0.475610,-2.829268,1.451220,1.682927,1.207317,-2.756098
545,CLE,ATL,1.487805,0.332927,1.080488,-2.886585,2.365854,0.060976,2.426829,-2.914634,-2.060976,-1.365854,1.170732
714,TOR,MIA,2.658537,-1.928049,3.314634,3.063415,0.353659,-1.060976,-0.707317,-2.109756,-1.000000,-1.000000,1.317073
404,CLE,TOR,1.621951,0.932927,-0.380488,-2.936585,0.451220,0.646341,1.097561,3.963415,-1.609756,0.500000,0.682927
524,GSW,CLE,10.560976,2.652439,5.178049,1.869512,-0.695122,2.378049,1.682927,6.243902,2.207317,1.597561,0.426829

In [78]:
X_1516 = predict_1516.drop(['HOME', 'AWAY', 'PTS'], axis=1)

In [79]:
predictions_1516 = loaded_model.predict(X_1516)
predictions_1516

array([ 9.7732847 ,  9.07812337,  3.52577273,  0.79160299,  6.44565486,
        3.05409783,  2.37198094,  2.72946625,  1.83937883,  0.15645766,
        0.10926651,  2.14966864, -1.02493664,  1.01132634,  4.29929881])

In [80]:
score_prediction_1516 = pd.DataFrame(data=predictions_1516)

In [81]:
model_1516 = pd.concat([series_1516, score_prediction_1516], axis=1, sort=True)
model_1516

   Home Away Series Result  Round  Game 1 Diff         0
0   GSW  HOU           GSW      1           26  9.773285
1   SAS  MEM           SAS      1           32  9.078123
2   OKC  DAL           OKC      1           38  3.525773
3   LAC  POR           POR      1           20  0.791603
4   GSW  POR           GSW      2           12  6.445655
5   SAS  OKC           OKC      2           32  3.054098
6   GSW  OKC           GSW      3           -6  2.371981
7   CLE  DET           CLE      1            5  2.729466
8   TOR  IND           TOR      1          -10  1.839379
9   MIA  CHA           MIA      1           32  0.156458
10  ATL  BOS           ATL      1            1  0.109267
11  CLE  ATL           CLE      2           11  2.149669
12  TOR  MIA           TOR      2           -6 -1.024937
13  CLE  TOR           CLE      3           31  1.011326
14  GSW  CLE           GSW      4           15  4.299299

In [82]:
model_1516.rename(columns = {list(model_1516)[5]: 'Score Prediction'}, inplace = True)
model_1516

   Home Away Series Result  Round  Game 1 Diff  Score Prediction
0   GSW  HOU           GSW      1           26          9.773285
1   SAS  MEM           SAS      1           32          9.078123
2   OKC  DAL           OKC      1           38          3.525773
3   LAC  POR           POR      1           20          0.791603
4   GSW  POR           GSW      2           12          6.445655
5   SAS  OKC           OKC      2           32          3.054098
6   GSW  OKC           GSW      3           -6          2.371981
7   CLE  DET           CLE      1            5          2.729466
8   TOR  IND           TOR      1          -10          1.839379
9   MIA  CHA           MIA      1           32          0.156458
10  ATL  BOS           ATL      1            1          0.109267
11  CLE  ATL           CLE      2           11          2.149669
12  TOR  MIA           TOR      2           -6         -1.024937
13  CLE  TOR           CLE      3           31          1.011326
14  GSW  CLE           GSW      4           15          4.299299

In [83]:
model_1516['Game 1 Result'] = model_1516.apply(diff, axis=1)
model_1516

   Home Away Series Result  Round  Game 1 Diff  Score Prediction Game 1 Result
0   GSW  HOU           GSW      1           26          9.773285          Home
1   SAS  MEM           SAS      1           32          9.078123          Home
2   OKC  DAL           OKC      1           38          3.525773          Home
3   LAC  POR           POR      1           20          0.791603          Home
4   GSW  POR           GSW      2           12          6.445655          Home
5   SAS  OKC           OKC      2           32          3.054098          Home
6   GSW  OKC           GSW      3           -6          2.371981          Away
7   CLE  DET           CLE      1            5          2.729466          Home
8   TOR  IND           TOR      1          -10          1.839379          Away
9   MIA  CHA           MIA      1           32          0.156458          Home
10  ATL  BOS           ATL      1            1          0.109267          Home
11  CLE  ATL           CLE      2           11          2.149669          Home
12  TOR  MIA           TOR      2           -6         -1.024937          Away
13  CLE  TOR           CLE      3           31          1.011326          Home
14  GSW  CLE           GSW      4           15          4.299299          Home

In [84]:
model_1516['Team Prediction'] = model_1516.apply(diff_p, axis=1)
model_1516

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction
0,GSW,HOU,GSW,1,26,9.773285,Home,Home
1,SAS,MEM,SAS,1,32,9.078123,Home,Home
2,OKC,DAL,OKC,1,38,3.525773,Home,Home
3,LAC,POR,POR,1,20,0.791603,Home,Home
4,GSW,POR,GSW,2,12,6.445655,Home,Home
5,SAS,OKC,OKC,2,32,3.054098,Home,Home
6,GSW,OKC,GSW,3,-6,2.371981,Away,Home
7,CLE,DET,CLE,1,5,2.729466,Home,Home
8,TOR,IND,TOR,1,-10,1.839379,Away,Home
9,MIA,CHA,MIA,1,32,0.156458,Home,Home
10,ATL,BOS,ATL,1,1,0.109267,Home,Home
11,CLE,ATL,CLE,2,11,2.149669,Home,Home
12,TOR,MIA,TOR,2,-6,-1.024937,Away,Away
13,CLE,TOR,CLE,3,31,1.011326,Home,Home
14,GSW,CLE,GSW,4,15,4.299299,Home,Home

In [85]:
model_1516['Series Actual'] = model_1516.apply(series, axis=1)
model_1516

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual
0,GSW,HOU,GSW,1,26,9.773285,Home,Home,Home
1,SAS,MEM,SAS,1,32,9.078123,Home,Home,Home
2,OKC,DAL,OKC,1,38,3.525773,Home,Home,Home
3,LAC,POR,POR,1,20,0.791603,Home,Home,Away
4,GSW,POR,GSW,2,12,6.445655,Home,Home,Home
5,SAS,OKC,OKC,2,32,3.054098,Home,Home,Away
6,GSW,OKC,GSW,3,-6,2.371981,Away,Home,Home
7,CLE,DET,CLE,1,5,2.729466,Home,Home,Home
8,TOR,IND,TOR,1,-10,1.839379,Away,Home,Home
9,MIA,CHA,MIA,1,32,0.156458,Home,Home,Home
10,ATL,BOS,ATL,1,1,0.109267,Home,Home,Home
11,CLE,ATL,CLE,2,11,2.149669,Home,Home,Home
12,TOR,MIA,TOR,2,-6,-1.024937,Away,Away,Home
13,CLE,TOR,CLE,3,31,1.011326,Home,Home,Home
14,GSW,CLE,GSW,4,15,4.299299,Home,Home,Home

In [86]:
model_1516['Game Correct'] = model_1516.apply(correct_g, axis=1)
model_1516

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct
0,GSW,HOU,GSW,1,26,9.773285,Home,Home,Home,Yes
1,SAS,MEM,SAS,1,32,9.078123,Home,Home,Home,Yes
2,OKC,DAL,OKC,1,38,3.525773,Home,Home,Home,Yes
3,LAC,POR,POR,1,20,0.791603,Home,Home,Away,Yes
4,GSW,POR,GSW,2,12,6.445655,Home,Home,Home,Yes
5,SAS,OKC,OKC,2,32,3.054098,Home,Home,Away,Yes
6,GSW,OKC,GSW,3,-6,2.371981,Away,Home,Home,No
7,CLE,DET,CLE,1,5,2.729466,Home,Home,Home,Yes
8,TOR,IND,TOR,1,-10,1.839379,Away,Home,Home,No
9,MIA,CHA,MIA,1,32,0.156458,Home,Home,Home,Yes
10,ATL,BOS,ATL,1,1,0.109267,Home,Home,Home,Yes
11,CLE,ATL,CLE,2,11,2.149669,Home,Home,Home,Yes
12,TOR,MIA,TOR,2,-6,-1.024937,Away,Away,Home,Yes
13,CLE,TOR,CLE,3,31,1.011326,Home,Home,Home,Yes
14,GSW,CLE,GSW,4,15,4.299299,Home,Home,Home,Yes

In [87]:
model_1516['Series Correct'] = model_1516.apply(correct_s, axis=1)
model_1516

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct,Series Correct
0,GSW,HOU,GSW,1,26,9.773285,Home,Home,Home,Yes,Yes
1,SAS,MEM,SAS,1,32,9.078123,Home,Home,Home,Yes,Yes
2,OKC,DAL,OKC,1,38,3.525773,Home,Home,Home,Yes,Yes
3,LAC,POR,POR,1,20,0.791603,Home,Home,Away,Yes,No
4,GSW,POR,GSW,2,12,6.445655,Home,Home,Home,Yes,Yes
5,SAS,OKC,OKC,2,32,3.054098,Home,Home,Away,Yes,No
6,GSW,OKC,GSW,3,-6,2.371981,Away,Home,Home,No,Yes
7,CLE,DET,CLE,1,5,2.729466,Home,Home,Home,Yes,Yes
8,TOR,IND,TOR,1,-10,1.839379,Away,Home,Home,No,Yes
9,MIA,CHA,MIA,1,32,0.156458,Home,Home,Home,Yes,Yes
10,ATL,BOS,ATL,1,1,0.109267,Home,Home,Home,Yes,Yes
11,CLE,ATL,CLE,2,11,2.149669,Home,Home,Home,Yes,Yes
12,TOR,MIA,TOR,2,-6,-1.024937,Away,Away,Home,Yes,No
13,CLE,TOR,CLE,3,31,1.011326,Home,Home,Home,Yes,Yes
14,GSW,CLE,GSW,4,15,4.299299,Home,Home,Home,Yes,Yes

In [88]:
game_count_1516 = model_1516.groupby(['Game Correct']).count()
game_count_1516 = game_count_1516['Home']
game_count_1516

Game Correct
No      2
Yes    13
Name: Home, dtype: int64

In [89]:
series_count_1516 = model_1516.groupby(['Series Correct']).count()
series_count_1516 = series_count_1516['Home']
series_count_1516

Series Correct
No      3
Yes    12
Name: Home, dtype: int64

In [61]:
playoff_series_1617 = {'Home': ['GSW', 'SAS', 'HOU','LAC', 'GSW', 'SAS', 'GSW', 'BOS', 'CLE', 'TOR', 'WAS', 'BOS', 'CLE', 'BOS', 'GSW'], 
                       'Away': ['POR', 'MEM', 'OKC', 'UTA', 'UTA', 'HOU', 'SAS', 'CHI', 'IND', 'MIL', 'ATL', 'WAS', 'TOR', 'CLE', 'CLE'],
                       'Series Result': ['GSW', 'SAS', 'HOU', 'LAC', 'GSW', 'SAS', 'GSW', 'BOS', 'CLE', 'TOR', 'WAS', 'BOS', 'CLE', 'CLE', 'GSW'], 
                       'Round': [1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 2, 2, 3, 4],
                       'Game 1 Diff': [12, 29, 31, -2, 12, -27, 2, -4, 1, -14, 7, 12, 11, -7, -22]}

In [62]:
series_1617 = pd.DataFrame(data=playoff_series_1617)
series_1617

   Home Away Series Result  Round  Game 1 Diff
0   GSW  POR           GSW      1           12
1   SAS  MEM           SAS      1           29
2   HOU  OKC           HOU      1           31
3   LAC  UTA           LAC      1           -2
4   GSW  UTA           GSW      2           12
5   SAS  HOU           SAS      2          -27
6   GSW  SAS           GSW      3            2
7   BOS  CHI           BOS      1           -4
8   CLE  IND           CLE      1            1
9   TOR  MIL           TOR      1          -14
10  WAS  ATL           WAS      1            7
11  BOS  WAS           BOS      2           12
12  CLE  TOR           CLE      2           11
13  BOS  CLE           CLE      3           -7
14  GSW  CLE           GSW      4          -22

In [63]:
playoff_1617 = pd.read_csv('Plus_Minus_1617.csv')
playoff_1617.drop(playoff_1617.columns[0], axis=1, inplace=True)
playoff_1617.head()

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,BKN,-2.609756,0.668293,0.413415,-6.121951,1.475610,-1.048780,0.426829,2.219512,0.121951,-0.756098,-2.865854
1,BKN,BOS,-2.243902,-0.960976,-2.153659,-2.295122,-0.268293,2.207317,1.939024,-3.817073,0.573171,3.268293,0.487805
2,BOS,CHA,3.121951,1.191463,1.069512,-0.624390,0.268293,-1.890244,-1.621951,2.170732,-0.609756,1.780488,3.975610
3,CHA,CHI,2.024390,-0.163415,1.364634,1.912195,-3.390244,0.682927,-2.707317,0.487805,-0.036585,-2.073171,-1.158537
4,CHI,CLE,-7.475610,-2.608537,-4.776829,5.343902,2.841463,-0.292683,2.548780,-0.085366,0.804878,-0.109756,-0.378049

In [90]:
gsw_por_rd1 = playoff_1617.loc[(playoff_1617['HOME'] == 'GSW') & (playoff_1617['AWAY'] == 'POR')]
sas_mem_rd1 = playoff_1617.loc[(playoff_1617['HOME'] == 'SAS') & (playoff_1617['AWAY'] == 'MEM')]
hou_okc_rd1 = playoff_1617.loc[(playoff_1617['HOME'] == 'HOU') & (playoff_1617['AWAY'] == 'OKC')]
lac_uta_rd1 = playoff_1617.loc[(playoff_1617['HOME'] == 'LAC') & (playoff_1617['AWAY'] == 'UTA')]
gsw_uta_rd2 = playoff_1617.loc[(playoff_1617['HOME'] == 'GSW') & (playoff_1617['AWAY'] == 'UTA')]
sas_hou_rd2 = playoff_1617.loc[(playoff_1617['HOME'] == 'SAS') & (playoff_1617['AWAY'] == 'HOU')]
gsw_sas_rd3 = playoff_1617.loc[(playoff_1617['HOME'] == 'GSW') & (playoff_1617['AWAY'] == 'SAS')]
bos_chi_rd1 = playoff_1617.loc[(playoff_1617['HOME'] == 'BOS') & (playoff_1617['AWAY'] == 'CHI')]
cle_ind_rd1 = playoff_1617.loc[(playoff_1617['HOME'] == 'CLE') & (playoff_1617['AWAY'] == 'IND')]
tor_mil_rd1 = playoff_1617.loc[(playoff_1617['HOME'] == 'TOR') & (playoff_1617['AWAY'] == 'MIL')]
was_atl_rd1 = playoff_1617.loc[(playoff_1617['HOME'] == 'WAS') & (playoff_1617['AWAY'] == 'ATL')]
bos_was_rd2 = playoff_1617.loc[(playoff_1617['HOME'] == 'BOS') & (playoff_1617['AWAY'] == 'WAS')]
cle_tor_rd2 = playoff_1617.loc[(playoff_1617['HOME'] == 'CLE') & (playoff_1617['AWAY'] == 'TOR')]
bos_cle_rd3 = playoff_1617.loc[(playoff_1617['HOME'] == 'BOS') & (playoff_1617['AWAY'] == 'CLE')]
gsw_cle_rd4 = playoff_1617.loc[(playoff_1617['HOME'] == 'GSW') & (playoff_1617['AWAY'] == 'CLE')]

predict_1617 = pd.concat([gsw_por_rd1, sas_mem_rd1, hou_okc_rd1, lac_uta_rd1, gsw_uta_rd2,
                          sas_hou_rd2, gsw_sas_rd3, bos_chi_rd1, cle_ind_rd1, tor_mil_rd1,
                          was_atl_rd1, bos_was_rd2, cle_tor_rd2, bos_cle_rd3, gsw_cle_rd4],
                        axis=0, sort=True)

predict_1617 = predict_1617[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
predict_1617

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
324,GSW,POR,7.951220,3.542683,1.085366,0.490244,-0.731707,1.500000,0.768293,9.243902,1.792683,1.036585,-1.841463
713,SAS,MEM,4.853659,3.368293,4.304878,1.750000,-0.792683,1.902439,1.109756,2.560976,1.707317,0.512195,-4.170732
235,HOU,OKC,8.743902,1.119512,2.964634,1.706098,-1.341463,-0.914634,-2.256098,4.256098,-0.682927,0.121951,-0.987805
342,LAC,UTA,7.963415,0.945122,0.207317,0.245122,-0.402439,0.195122,-0.207317,2.402439,-0.768293,-0.682927,0.987805
378,GSW,UTA,15.182927,2.908537,1.434146,3.780488,-0.012195,1.207317,1.195122,10.243902,1.768293,1.134146,0.487805
775,SAS,HOU,-10.012195,0.708537,3.782927,3.214634,-0.865854,0.378049,-0.487805,-1.414634,1.609756,-1.695122,-1.658537
353,GSW,SAS,10.560976,2.559756,-0.806098,-1.267073,-0.621951,1.170732,0.548780,6.548780,0.865854,1.341463,1.060976
31,BOS,CHI,5.146341,1.028049,2.434146,1.287805,-3.121951,-1.207317,-4.329268,2.658537,-0.646341,-0.292683,2.817073
140,CLE,IND,5.243902,0.491463,1.063415,-6.213415,0.292683,1.451220,1.743902,0.170732,-1.000000,-0.109756,-1.353659
696,TOR,MIL,3.231707,-0.991463,-0.757317,2.786585,1.804878,1.060976,2.865854,-5.695122,-0.439024,-1.268293,0.585366
869,WAS,ATL,6.024390,2.401220,3.269512,6.118293,0.012195,-1.487805,-1.475610,0.219512,-0.743902,-1.609756,3.097561
431,BOS,WAS,-1.170732,-2.108537,-1.529268,2.298780,-1.219512,0.329268,-0.890244,1.378049,0.048780,-0.902439,-0.719512
404,CLE,TOR,3.487805,0.558537,1.724390,-5.181707,-1.280488,1.768293,0.487805,4.158537,-0.890244,0.975610,-2.707317
59,BOS,CLE,-2.329268,-1.580488,-2.342683,6.631707,-0.280488,-1.500000,-1.780488,2.573171,0.158537,-0.402439,2.439024
524,GSW,CLE,5.548780,2.513415,0.378049,4.031707,0.048780,0.634146,0.682927,7.719512,2.780488,1.097561,1.207317

In [91]:
X_1617 = predict_1617.drop(['HOME', 'AWAY', 'PTS'], axis=1)

In [92]:
predictions_1617 = loaded_model.predict(X_1617)
predictions_1617

array([ 5.63728613,  6.51638387,  1.79043018,  1.66215266,  5.20484796,
        3.62846522,  1.99698668, -1.00386219,  1.16598433,  0.77280855,
        4.21944086, -1.65866426,  0.72269281, -2.06049361,  3.70322102])

In [93]:
score_prediction_1617 = pd.DataFrame(data=predictions_1617)

In [94]:
model_1617 = pd.concat([series_1617, score_prediction_1617], axis=1, sort=True)
model_1617

   Home Away Series Result  Round  Game 1 Diff         0
0   GSW  POR           GSW      1           12  5.637286
1   SAS  MEM           SAS      1           29  6.516384
2   HOU  OKC           HOU      1           31  1.790430
3   LAC  UTA           LAC      1           -2  1.662153
4   GSW  UTA           GSW      2           12  5.204848
5   SAS  HOU           SAS      2          -27  3.628465
6   GSW  SAS           GSW      3            2  1.996987
7   BOS  CHI           BOS      1           -4 -1.003862
8   CLE  IND           CLE      1            1  1.165984
9   TOR  MIL           TOR      1          -14  0.772809
10  WAS  ATL           WAS      1            7  4.219441
11  BOS  WAS           BOS      2           12 -1.658664
12  CLE  TOR           CLE      2           11  0.722693
13  BOS  CLE           CLE      3           -7 -2.060494
14  GSW  CLE           GSW      4          -22  3.703221

In [95]:
model_1617.rename(columns = {list(model_1617)[5]: 'Score Prediction'}, inplace = True)
model_1617

   Home Away Series Result  Round  Game 1 Diff  Score Prediction
0   GSW  POR           GSW      1           12          5.637286
1   SAS  MEM           SAS      1           29          6.516384
2   HOU  OKC           HOU      1           31          1.790430
3   LAC  UTA           LAC      1           -2          1.662153
4   GSW  UTA           GSW      2           12          5.204848
5   SAS  HOU           SAS      2          -27          3.628465
6   GSW  SAS           GSW      3            2          1.996987
7   BOS  CHI           BOS      1           -4         -1.003862
8   CLE  IND           CLE      1            1          1.165984
9   TOR  MIL           TOR      1          -14          0.772809
10  WAS  ATL           WAS      1            7          4.219441
11  BOS  WAS           BOS      2           12         -1.658664
12  CLE  TOR           CLE      2           11          0.722693
13  BOS  CLE           CLE      3           -7         -2.060494
14  GSW  CLE           GSW      4          -22          3.703221

In [96]:
model_1617['Game 1 Result'] = model_1617.apply(diff, axis=1)
model_1617

   Home Away Series Result  Round  Game 1 Diff  Score Prediction Game 1 Result
0   GSW  POR           GSW      1           12          5.637286          Home
1   SAS  MEM           SAS      1           29          6.516384          Home
2   HOU  OKC           HOU      1           31          1.790430          Home
3   LAC  UTA           LAC      1           -2          1.662153          Away
4   GSW  UTA           GSW      2           12          5.204848          Home
5   SAS  HOU           SAS      2          -27          3.628465          Away
6   GSW  SAS           GSW      3            2          1.996987          Home
7   BOS  CHI           BOS      1           -4         -1.003862          Away
8   CLE  IND           CLE      1            1          1.165984          Home
9   TOR  MIL           TOR      1          -14          0.772809          Away
10  WAS  ATL           WAS      1            7          4.219441          Home
11  BOS  WAS           BOS      2           12         -1.658664          Home
12  CLE  TOR           CLE      2           11          0.722693          Home
13  BOS  CLE           CLE      3           -7         -2.060494          Away
14  GSW  CLE           GSW      4          -22          3.703221          Away

In [97]:
model_1617['Team Prediction'] = model_1617.apply(diff_p, axis=1)
model_1617

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction
0,GSW,POR,GSW,1,12,5.637286,Home,Home
1,SAS,MEM,SAS,1,29,6.516384,Home,Home
2,HOU,OKC,HOU,1,31,1.790430,Home,Home
3,LAC,UTA,LAC,1,-2,1.662153,Away,Home
4,GSW,UTA,GSW,2,12,5.204848,Home,Home
5,SAS,HOU,SAS,2,-27,3.628465,Away,Home
6,GSW,SAS,GSW,3,2,1.996987,Home,Home
7,BOS,CHI,BOS,1,-4,-1.003862,Away,Away
8,CLE,IND,CLE,1,1,1.165984,Home,Home
9,TOR,MIL,TOR,1,-14,0.772809,Away,Home
10,WAS,ATL,WAS,1,7,4.219441,Home,Home
11,BOS,WAS,BOS,2,12,-1.658664,Home,Away
12,CLE,TOR,CLE,2,11,0.722693,Home,Home
13,BOS,CLE,CLE,3,-7,-2.060494,Away,Away
14,GSW,CLE,GSW,4,-22,3.703221,Away,Home

In [98]:
model_1617['Series Actual'] = model_1617.apply(series, axis=1)
model_1617

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual
0,GSW,POR,GSW,1,12,5.637286,Home,Home,Home
1,SAS,MEM,SAS,1,29,6.516384,Home,Home,Home
2,HOU,OKC,HOU,1,31,1.790430,Home,Home,Home
3,LAC,UTA,LAC,1,-2,1.662153,Away,Home,Home
4,GSW,UTA,GSW,2,12,5.204848,Home,Home,Home
5,SAS,HOU,SAS,2,-27,3.628465,Away,Home,Home
6,GSW,SAS,GSW,3,2,1.996987,Home,Home,Home
7,BOS,CHI,BOS,1,-4,-1.003862,Away,Away,Home
8,CLE,IND,CLE,1,1,1.165984,Home,Home,Home
9,TOR,MIL,TOR,1,-14,0.772809,Away,Home,Home
10,WAS,ATL,WAS,1,7,4.219441,Home,Home,Home
11,BOS,WAS,BOS,2,12,-1.658664,Home,Away,Home
12,CLE,TOR,CLE,2,11,0.722693,Home,Home,Home
13,BOS,CLE,CLE,3,-7,-2.060494,Away,Away,Away
14,GSW,CLE,GSW,4,-22,3.703221,Away,Home,Home

In [99]:
model_1617['Game Correct'] = model_1617.apply(correct_g, axis=1)
model_1617

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct
0,GSW,POR,GSW,1,12,5.637286,Home,Home,Home,Yes
1,SAS,MEM,SAS,1,29,6.516384,Home,Home,Home,Yes
2,HOU,OKC,HOU,1,31,1.790430,Home,Home,Home,Yes
3,LAC,UTA,LAC,1,-2,1.662153,Away,Home,Home,No
4,GSW,UTA,GSW,2,12,5.204848,Home,Home,Home,Yes
5,SAS,HOU,SAS,2,-27,3.628465,Away,Home,Home,No
6,GSW,SAS,GSW,3,2,1.996987,Home,Home,Home,Yes
7,BOS,CHI,BOS,1,-4,-1.003862,Away,Away,Home,Yes
8,CLE,IND,CLE,1,1,1.165984,Home,Home,Home,Yes
9,TOR,MIL,TOR,1,-14,0.772809,Away,Home,Home,No
10,WAS,ATL,WAS,1,7,4.219441,Home,Home,Home,Yes
11,BOS,WAS,BOS,2,12,-1.658664,Home,Away,Home,No
12,CLE,TOR,CLE,2,11,0.722693,Home,Home,Home,Yes
13,BOS,CLE,CLE,3,-7,-2.060494,Away,Away,Away,Yes
14,GSW,CLE,GSW,4,-22,3.703221,Away,Home,Home,No

In [100]:
model_1617['Series Correct'] = model_1617.apply(correct_s, axis=1)
model_1617

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct,Series Correct
0,GSW,POR,GSW,1,12,5.637286,Home,Home,Home,Yes,Yes
1,SAS,MEM,SAS,1,29,6.516384,Home,Home,Home,Yes,Yes
2,HOU,OKC,HOU,1,31,1.790430,Home,Home,Home,Yes,Yes
3,LAC,UTA,LAC,1,-2,1.662153,Away,Home,Home,No,Yes
4,GSW,UTA,GSW,2,12,5.204848,Home,Home,Home,Yes,Yes
5,SAS,HOU,SAS,2,-27,3.628465,Away,Home,Home,No,Yes
6,GSW,SAS,GSW,3,2,1.996987,Home,Home,Home,Yes,Yes
7,BOS,CHI,BOS,1,-4,-1.003862,Away,Away,Home,Yes,No
8,CLE,IND,CLE,1,1,1.165984,Home,Home,Home,Yes,Yes
9,TOR,MIL,TOR,1,-14,0.772809,Away,Home,Home,No,Yes
10,WAS,ATL,WAS,1,7,4.219441,Home,Home,Home,Yes,Yes
11,BOS,WAS,BOS,2,12,-1.658664,Home,Away,Home,No,No
12,CLE,TOR,CLE,2,11,0.722693,Home,Home,Home,Yes,Yes
13,BOS,CLE,CLE,3,-7,-2.060494,Away,Away,Away,Yes,Yes
14,GSW,CLE,GSW,4,-22,3.703221,Away,Home,Home,No,Yes

In [101]:
game_count_1617 = model_1617.groupby(['Game Correct']).count()
game_count_1617 = game_count_1617['Home']
game_count_1617

Game Correct
No      5
Yes    10
Name: Home, dtype: int64

In [102]:
series_count_1617 = model_1617.groupby(['Series Correct']).count()
series_count_1617 = series_count_1617['Home']
series_count_1617

Series Correct
No      2
Yes    13
Name: Home, dtype: int64

In [103]:
playoff_series_1718 = {'Home': ['HOU', 'GSW', 'POR','OKC', 'HOU', 'GSW', 'HOU', 'TOR', 'BOS', 'PHI', 'CLE', 'TOR', 'BOS', 'BOS', 'GSW'], 
                       'Away': ['MIN', 'SAS', 'NOP', 'UTA', 'UTA', 'NOP', 'GSW', 'WAS', 'MIL', 'MIA', 'IND', 'CLE', 'PHI', 'CLE', 'CLE'],
                       'Series Result': ['HOU', 'GSW', 'NOP', 'UTA', 'HOU', 'GSW', 'GSW', 'TOR', 'BOS', 'PHI', 'CLE', 'CLE', 'BOS', 'CLE', 'GSW'], 
                       'Round': [1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 2, 2, 3, 4],
                       'Game 1 Diff': [3, 21, -2, 8, 14, 22, -13, 8, 6, 27, -18, -1, 16, 25, 10]}

In [104]:
series_1718 = pd.DataFrame(data=playoff_series_1718)
series_1718

   Home Away Series Result  Round  Game 1 Diff
0   HOU  MIN           HOU      1            3
1   GSW  SAS           GSW      1           21
2   POR  NOP           NOP      1           -2
3   OKC  UTA           UTA      1            8
4   HOU  UTA           HOU      2           14
5   GSW  NOP           GSW      2           22
6   HOU  GSW           GSW      3          -13
7   TOR  WAS           TOR      1            8
8   BOS  MIL           BOS      1            6
9   PHI  MIA           PHI      1           27
10  CLE  IND           CLE      1          -18
11  TOR  CLE           CLE      2           -1
12  BOS  PHI           BOS      2           16
13  BOS  CLE           CLE      3           25
14  GSW  CLE           GSW      4           10

In [105]:
playoff_1718 = pd.read_csv('Plus_Minus_1718.csv')
playoff_1718.drop(playoff_1718.columns[0], axis=1, inplace=True)
playoff_1718.head()

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
0,ATL,BKN,-3.243902,0.557317,0.757317,0.795122,-0.597561,-1.939024,-2.536585,0.060976,-0.512195,0.353659,-1.000000
1,BKN,BOS,2.585366,-0.913415,-2.539024,0.752439,0.304878,-0.317073,-0.012195,1.207317,0.207317,1.182927,0.853659
2,BOS,CHA,-4.207317,0.068293,1.840244,2.425610,-0.731707,-0.280488,-1.012195,0.878049,0.000000,1.304878,2.548780
3,CHA,CHI,5.292683,1.475610,0.936585,-0.967073,0.451220,0.353659,0.804878,-1.865854,1.024390,-1.292683,-1.975610
4,CHI,CLE,-7.939024,-4.139024,-1.885366,-2.104878,1.170732,1.353659,2.524390,0.085366,-0.280488,0.256098,0.573171

In [106]:
hou_min_rd1 = playoff_1718.loc[(playoff_1718['HOME'] == 'HOU') & (playoff_1718['AWAY'] == 'MIN')]
gsw_sas_rd1 = playoff_1718.loc[(playoff_1718['HOME'] == 'GSW') & (playoff_1718['AWAY'] == 'SAS')]
por_nop_rd1 = playoff_1718.loc[(playoff_1718['HOME'] == 'POR') & (playoff_1718['AWAY'] == 'NOP')]
okc_uta_rd1 = playoff_1718.loc[(playoff_1718['HOME'] == 'OKC') & (playoff_1718['AWAY'] == 'UTA')]
hou_uta_rd2 = playoff_1718.loc[(playoff_1718['HOME'] == 'HOU') & (playoff_1718['AWAY'] == 'UTA')]
gsw_nop_rd2 = playoff_1718.loc[(playoff_1718['HOME'] == 'GSW') & (playoff_1718['AWAY'] == 'NOP')]
hou_gsw_rd3 = playoff_1718.loc[(playoff_1718['HOME'] == 'HOU') & (playoff_1718['AWAY'] == 'GSW')]
tor_was_rd1 = playoff_1718.loc[(playoff_1718['HOME'] == 'TOR') & (playoff_1718['AWAY'] == 'WAS')]
bos_mil_rd1 = playoff_1718.loc[(playoff_1718['HOME'] == 'BOS') & (playoff_1718['AWAY'] == 'MIL')]
phi_mia_rd1 = playoff_1718.loc[(playoff_1718['HOME'] == 'PHI') & (playoff_1718['AWAY'] == 'MIA')]
cle_ind_rd1 = playoff_1718.loc[(playoff_1718['HOME'] == 'CLE') & (playoff_1718['AWAY'] == 'IND')]
tor_cle_rd2 = playoff_1718.loc[(playoff_1718['HOME'] == 'TOR') & (playoff_1718['AWAY'] == 'CLE')]
bos_phi_rd2 = playoff_1718.loc[(playoff_1718['HOME'] == 'BOS') & (playoff_1718['AWAY'] == 'PHI')]
bos_cle_rd3 = playoff_1718.loc[(playoff_1718['HOME'] == 'BOS') & (playoff_1718['AWAY'] == 'CLE')]
gsw_cle_rd4 = playoff_1718.loc[(playoff_1718['HOME'] == 'GSW') & (playoff_1718['AWAY'] == 'CLE')]

predict_1718 = pd.concat([hou_min_rd1, gsw_sas_rd1, por_nop_rd1, okc_uta_rd1, hou_uta_rd2,
                          gsw_nop_rd2, hou_gsw_rd3, tor_was_rd1, bos_mil_rd1, phi_mia_rd1,
                          cle_ind_rd1, tor_cle_rd2, bos_phi_rd2, bos_cle_rd3, gsw_cle_rd4],
                        axis=0, sort=True)

predict_1718 = predict_1718[['HOME', 'AWAY', 'PTS', 'FG%', '3P%', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'BLK', 'TOV', 'PF']]
predict_1718

,HOME,AWAY,PTS,FG%,3P%,FT%,OREB,DREB,REB,AST,BLK,TOV,PF
169,HOU,MIN,2.841463,-1.720732,0.582927,-2.209756,-1.329268,2.829268,1.500000,-1.146341,0.573171,1.390244,1.243902
353,GSW,SAS,10.731707,4.576829,3.654878,3.582927,-1.926829,1.219512,-0.707317,6.512195,1.853659,2.280488,2.426829
588,POR,NOP,-6.097561,-3.082927,0.790244,3.090244,1.500000,-0.365854,1.134146,-7.268293,-0.756098,-1.390244,0.353659
202,OKC,UTA,3.707317,-0.925610,-1.439024,-6.867073,3.463415,-1.658537,1.804878,-1.085366,-0.097561,-0.707317,0.548780
367,HOU,UTA,8.207317,-0.217073,-0.270732,-0.308537,-0.012195,0.219512,0.207317,-0.878049,-0.341463,-0.853659,-0.134146
213,GSW,NOP,1.743902,1.919512,2.936585,3.957317,-0.256098,-0.560976,-0.817073,2.524390,1.548780,0.512195,0.451220
444,HOU,GSW,-1.109756,-4.321951,-2.497561,-3.369512,0.585366,-0.634146,-0.048780,-7.743902,-2.682927,-1.585366,-0.121951
56,TOR,WAS,5.048780,0.501220,-1.573171,1.336585,-0.280488,1.146341,0.865854,-0.853659,1.792683,-1.231707,0.451220
301,BOS,MIL,-2.463415,-2.764634,2.501220,-1.245122,0.963415,3.646341,4.609756,-0.768293,-0.853659,0.158537,-1.634146
609,PHI,MIA,6.390244,1.643902,0.891463,0.350000,1.585366,2.378049,3.963415,4.378049,-0.207317,2.134146,1.987805
140,CLE,IND,5.304878,0.415854,0.659756,-0.336585,-1.146341,0.939024,-0.207317,1.182927,-0.341463,0.463415,-0.243902
839,TOR,CLE,0.792683,-0.454878,-1.513415,0.997561,1.292683,0.560976,1.853659,0.963415,2.292683,-0.378049,3.158537
382,BOS,PHI,-5.792683,-2.118293,1.439024,1.235366,-1.536585,-1.439024,-2.975610,-4.621951,-0.573171,-2.500000,-2.353659
59,BOS,CLE,-6.853659,-2.595122,0.891463,-0.646341,0.890244,1.426829,2.317073,-0.902439,0.743902,0.268293,1.146341
524,GSW,CLE,2.597561,2.629268,1.643902,3.584146,-0.036585,1.414634,1.378049,5.926829,3.658537,1.695122,1.012195

In [107]:
X_1718 = predict_1718.drop(['HOME', 'AWAY', 'PTS'], axis=1)

In [108]:
predictions_1718 = loaded_model.predict(X_1718)
predictions_1718

array([-3.89548832,  3.67704017, -2.04025701, -0.43690955,  0.40374311,
        2.73080559, -5.62710368,  1.57632471, -0.28992063,  2.11030698,
       -0.06697681, -0.07896912, -1.13208495, -2.40084204,  3.45510537])

In [109]:
score_prediction_1718 = pd.DataFrame(data=predictions_1718)

In [110]:
model_1718 = pd.concat([series_1718, score_prediction_1718], axis=1, sort=True)
model_1718

   Home Away Series Result  Round  Game 1 Diff         0
0   HOU  MIN           HOU      1            3 -3.895488
1   GSW  SAS           GSW      1           21  3.677040
2   POR  NOP           NOP      1           -2 -2.040257
3   OKC  UTA           UTA      1            8 -0.436910
4   HOU  UTA           HOU      2           14  0.403743
5   GSW  NOP           GSW      2           22  2.730806
6   HOU  GSW           GSW      3          -13 -5.627104
7   TOR  WAS           TOR      1            8  1.576325
8   BOS  MIL           BOS      1            6 -0.289921
9   PHI  MIA           PHI      1           27  2.110307
10  CLE  IND           CLE      1          -18 -0.066977
11  TOR  CLE           CLE      2           -1 -0.078969
12  BOS  PHI           BOS      2           16 -1.132085
13  BOS  CLE           CLE      3           25 -2.400842
14  GSW  CLE           GSW      4           10  3.455105

In [111]:
model_1718.rename(columns = {list(model_1718)[5]: 'Score Prediction'}, inplace = True)
model_1718

   Home Away Series Result  Round  Game 1 Diff  Score Prediction
0   HOU  MIN           HOU      1            3         -3.895488
1   GSW  SAS           GSW      1           21          3.677040
2   POR  NOP           NOP      1           -2         -2.040257
3   OKC  UTA           UTA      1            8         -0.436910
4   HOU  UTA           HOU      2           14          0.403743
5   GSW  NOP           GSW      2           22          2.730806
6   HOU  GSW           GSW      3          -13         -5.627104
7   TOR  WAS           TOR      1            8          1.576325
8   BOS  MIL           BOS      1            6         -0.289921
9   PHI  MIA           PHI      1           27          2.110307
10  CLE  IND           CLE      1          -18         -0.066977
11  TOR  CLE           CLE      2           -1         -0.078969
12  BOS  PHI           BOS      2           16         -1.132085
13  BOS  CLE           CLE      3           25         -2.400842
14  GSW  CLE           GSW      4           10          3.455105

In [112]:
model_1718['Game 1 Result'] = model_1718.apply(diff, axis=1)
model_1718

   Home Away Series Result  Round  Game 1 Diff  Score Prediction Game 1 Result
0   HOU  MIN           HOU      1            3         -3.895488          Home
1   GSW  SAS           GSW      1           21          3.677040          Home
2   POR  NOP           NOP      1           -2         -2.040257          Away
3   OKC  UTA           UTA      1            8         -0.436910          Home
4   HOU  UTA           HOU      2           14          0.403743          Home
5   GSW  NOP           GSW      2           22          2.730806          Home
6   HOU  GSW           GSW      3          -13         -5.627104          Away
7   TOR  WAS           TOR      1            8          1.576325          Home
8   BOS  MIL           BOS      1            6         -0.289921          Home
9   PHI  MIA           PHI      1           27          2.110307          Home
10  CLE  IND           CLE      1          -18         -0.066977          Away
11  TOR  CLE           CLE      2           -1         -0.078969          Away
12  BOS  PHI           BOS      2           16         -1.132085          Home
13  BOS  CLE           CLE      3           25         -2.400842          Home
14  GSW  CLE           GSW      4           10          3.455105          Home

In [113]:
model_1718['Team Prediction'] = model_1718.apply(diff_p, axis=1)
model_1718

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction
0,HOU,MIN,HOU,1,3,-3.895488,Home,Away
1,GSW,SAS,GSW,1,21,3.677040,Home,Home
2,POR,NOP,NOP,1,-2,-2.040257,Away,Away
3,OKC,UTA,UTA,1,8,-0.436910,Home,Away
4,HOU,UTA,HOU,2,14,0.403743,Home,Home
5,GSW,NOP,GSW,2,22,2.730806,Home,Home
6,HOU,GSW,GSW,3,-13,-5.627104,Away,Away
7,TOR,WAS,TOR,1,8,1.576325,Home,Home
8,BOS,MIL,BOS,1,6,-0.289921,Home,Away
9,PHI,MIA,PHI,1,27,2.110307,Home,Home
10,CLE,IND,CLE,1,-18,-0.066977,Away,Away
11,TOR,CLE,CLE,2,-1,-0.078969,Away,Away
12,BOS,PHI,BOS,2,16,-1.132085,Home,Away
13,BOS,CLE,CLE,3,25,-2.400842,Home,Away
14,GSW,CLE,GSW,4,10,3.455105,Home,Home

In [114]:
model_1718['Series Actual'] = model_1718.apply(series, axis=1)
model_1718

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual
0,HOU,MIN,HOU,1,3,-3.895488,Home,Away,Home
1,GSW,SAS,GSW,1,21,3.677040,Home,Home,Home
2,POR,NOP,NOP,1,-2,-2.040257,Away,Away,Away
3,OKC,UTA,UTA,1,8,-0.436910,Home,Away,Away
4,HOU,UTA,HOU,2,14,0.403743,Home,Home,Home
5,GSW,NOP,GSW,2,22,2.730806,Home,Home,Home
6,HOU,GSW,GSW,3,-13,-5.627104,Away,Away,Away
7,TOR,WAS,TOR,1,8,1.576325,Home,Home,Home
8,BOS,MIL,BOS,1,6,-0.289921,Home,Away,Home
9,PHI,MIA,PHI,1,27,2.110307,Home,Home,Home
10,CLE,IND,CLE,1,-18,-0.066977,Away,Away,Home
11,TOR,CLE,CLE,2,-1,-0.078969,Away,Away,Away
12,BOS,PHI,BOS,2,16,-1.132085,Home,Away,Home
13,BOS,CLE,CLE,3,25,-2.400842,Home,Away,Away
14,GSW,CLE,GSW,4,10,3.455105,Home,Home,Home

In [115]:
model_1718['Game Correct'] = model_1718.apply(correct_g, axis=1)
model_1718

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct
0,HOU,MIN,HOU,1,3,-3.895488,Home,Away,Home,No
1,GSW,SAS,GSW,1,21,3.677040,Home,Home,Home,Yes
2,POR,NOP,NOP,1,-2,-2.040257,Away,Away,Away,Yes
3,OKC,UTA,UTA,1,8,-0.436910,Home,Away,Away,No
4,HOU,UTA,HOU,2,14,0.403743,Home,Home,Home,Yes
5,GSW,NOP,GSW,2,22,2.730806,Home,Home,Home,Yes
6,HOU,GSW,GSW,3,-13,-5.627104,Away,Away,Away,Yes
7,TOR,WAS,TOR,1,8,1.576325,Home,Home,Home,Yes
8,BOS,MIL,BOS,1,6,-0.289921,Home,Away,Home,No
9,PHI,MIA,PHI,1,27,2.110307,Home,Home,Home,Yes
10,CLE,IND,CLE,1,-18,-0.066977,Away,Away,Home,Yes
11,TOR,CLE,CLE,2,-1,-0.078969,Away,Away,Away,Yes
12,BOS,PHI,BOS,2,16,-1.132085,Home,Away,Home,No
13,BOS,CLE,CLE,3,25,-2.400842,Home,Away,Away,No
14,GSW,CLE,GSW,4,10,3.455105,Home,Home,Home,Yes

In [116]:
model_1718['Series Correct'] = model_1718.apply(correct_s, axis=1)
model_1718

,Home,Away,Series Result,Round,Game 1 Diff,Score Prediction,Game 1 Result,Team Prediction,Series Actual,Game Correct,Series Correct
0,HOU,MIN,HOU,1,3,-3.895488,Home,Away,Home,No,No
1,GSW,SAS,GSW,1,21,3.677040,Home,Home,Home,Yes,Yes
2,POR,NOP,NOP,1,-2,-2.040257,Away,Away,Away,Yes,Yes
3,OKC,UTA,UTA,1,8,-0.436910,Home,Away,Away,No,Yes
4,HOU,UTA,HOU,2,14,0.403743,Home,Home,Home,Yes,Yes
5,GSW,NOP,GSW,2,22,2.730806,Home,Home,Home,Yes,Yes
6,HOU,GSW,GSW,3,-13,-5.627104,Away,Away,Away,Yes,Yes
7,TOR,WAS,TOR,1,8,1.576325,Home,Home,Home,Yes,Yes
8,BOS,MIL,BOS,1,6,-0.289921,Home,Away,Home,No,No
9,PHI,MIA,PHI,1,27,2.110307,Home,Home,Home,Yes,Yes
10,CLE,IND,CLE,1,-18,-0.066977,Away,Away,Home,Yes,No
11,TOR,CLE,CLE,2,-1,-0.078969,Away,Away,Away,Yes,Yes
12,BOS,PHI,BOS,2,16,-1.132085,Home,Away,Home,No,No
13,BOS,CLE,CLE,3,25,-2.400842,Home,Away,Away,No,Yes
14,GSW,CLE,GSW,4,10,3.455105,Home,Home,Home,Yes,Yes

In [117]:
game_count_1718 = model_1718.groupby(['Game Correct']).count()
game_count_1718 = game_count_1718['Home']
game_count_1718

Game Correct
No      5
Yes    10
Name: Home, dtype: int64

In [118]:
series_count_1718 = model_1718.groupby(['Series Correct']).count()
series_count_1718 = series_count_1718['Home']
series_count_1718

Series Correct
No      4
Yes    11
Name: Home, dtype: int64